[2013-12-29 01:47] HashNuke opened #1 "First release"
TODO for the first release:
- send_keys documentation
- screenshot function and docs
- blog post

[2014-01-01 15:49] #1 closed, assigned to nobody

[2014-02-04 03:05] wkhere opened #4 "UTF-8 is scrambled in Hound"
Hi!

I have one problem using Hound - when the page has some content in utf8, page_source() nor page_title() don't hold properly converted utf8 strings, but the binaries  scrambled using some other encoding.
Same efect with both Phantomjs and Selenium underneath.
Tested w/ HEAD=4f4700c5.

[2014-02-13 16:01] #4 closed, assigned to nobody

[2014-02-16 08:39] josevalim opened #6 "in_browser_session should be a regular function"
There is no reason for `in_browser_session` to be a macro:

https://github.com/HashNuke/hound/blob/master/lib/hound/json_driver/session.ex#L42

The example above could probably be rewritten as:

[code]

[2014-02-16 08:47] josevalim opened #7 ":applications dependencies should be properly filled"
All of your application runtime dependencies must be declared in the mix file:

https://github.com/HashNuke/hound/blob/master/mix.exs#L16

You need `:ibrowse` and `:jsex` in there for now.

There is also a bigger issue that you can only configure Hound if you start it with Hound.start and not via `:application.start(:hound)`. However, this is mostly Elixir's fault, as we don't have a way to config

[2014-02-16 08:54] josevalim opened #8 "Drivers should be invoked from a facade API"
Today, the Driver API is also the User API. This means drivers are required to be implement all user functions, even if the function implementation is going to be the same across all drivers. This leads to duplications.

For example, [the session functions](https://github.com/HashNuke/hound/blob/master/lib/hound/json_driver/session.ex#L16) are not specific to the driver, and even though, it would

[2014-02-16 17:30] #6 closed, assigned to nobody

[2014-02-16 17:37] HashNuke opened #9 "Should be able to start Hound with :application.start"
Waiting for Jose Valim's patch to land in Erlang R17. That should allow application config in `:application.start`. Should deprecate `Hound.start` when that is available.

This issue is a fork from this - https://github.com/HashNuke/hound/issues/7

[2014-02-16 17:37] #7 closed, assigned to nobody

[2014-02-17 22:41] herenowcoder opened #10 "Allow Element to return its html source"
Hi!

I think if there's possibility to trivially add getting the html source of an element from the webdriver backend.

I'm sure webdriver protocol allows it, because I use it quite heavily in Ruby/Watir scripts.

I have an interesting set of scenarios where it is needed, maybe I drop few words on it:

I don't quite use phantomjs/hound (or other binding, like watir) for testing of long webapp flow

[2014-05-04 13:21] myers opened #13 "Message under Elixir 0.13.1: The access protocol for lists expect the key to be an atom..."
While running trunk with Elixir 0.13.1:

[code]

[2014-06-17 04:14] #13 closed, assigned to nobody

[2014-06-17 06:45] #9 closed, assigned to nobody

[2014-06-27 14:20] wkhere opened #15 "tag v0.5.4 missing"
Hi!

I'd like to catch your recent changes in Hound and went with following the current Readme. You say there one should use v0.5.4 tag - but haven't you missed pushing your tags to github?

Best,
Wojtek

[2014-07-03 11:24] #15 closed, assigned to nobody

[2014-07-03 11:26] HashNuke opened #16 "Hound.JsonDriver.Utils should use seperate error parsers for Chrome, Selenium and PhantomJs"

[2014-07-08 06:32] #16 closed, assigned to nobody

[2014-07-23 17:01] BinaryMuse opened #18 "Pass additional options to desiredCapabilities"
It would be useful to be able to pass additional options to `desiredCapabilities` when creating a session. For example, I currently have a fork of Hound where I [pass `chromeOptions` to the session](https://github.com/BinaryMuse/hound/commit/de6d9048fe8f916da357f7439f56aaaecefbfd26):

[code]

[2014-08-03 01:24] lsimoneau opened #19 "Could not start application ibrowse"
When trying to run tests with Hound, I get the error:

[code]

I can replicate this on a brand-new mix project:

[code]

Edit `mix.exs` to contain:

[code]

Run `mix deps.get` and `mix test`, and I get the error above.

If starting ibrowse is required for Hound, should it not have `optional: true` in hound's `mix.exs` maybe?

[2014-08-13 05:20] herenowcoder opened #22 "republish on Hex"
Hi HashNuke!

I reproduced the problems w/ `:ibrowse` described [in this issue](https://github.com/HashNuke/hound/issues/19)

Now it's great you committed [a change](https://github.com/HashNuke/hound/commit/2c5cf4c026) fixing this, but you must've messed with Hex - the 0.5.9 package published on Hex doesn't have this commit.. so again we need to use Hound via Github ref in our deps, which screws t

[2014-08-23 15:33] ghost opened #23 "Tests fail on Elixir 0.15.1"
Hi,

running tests on Elixir 0.15.1 on a Mac OS X system fails:

"Stopping Hound and restarting with options for test suite..."

=INFO REPORT==== 23-Aug-2014::17:33:09 ===
    application: hound
    exited: stopped
    type: temporary

=ERROR REPORT==== 23-Aug-2014::17:33:09 ===
*\* Generic server 'Elixir.Hound.SessionServer' terminating
*\* Last message in was {find_or_create_session,<0.186.0>}
*

[2014-08-24 21:09] #23 closed, assigned to nobody

[2014-10-03 06:24] asconix opened #25 "CLI arguments"
It would be great to have an opportunity to define CLI arguments (e.g. proxy data) in hound. http://phantomjs.org/api/command-line.html. AFAIK you already coded this part but didn't push it yet, right?

[2014-10-07 15:46] cheeyeo opened #27 "Integration testing with phoenix framework?"
Hi

are there any examples on how to run it with phoenix?

Do i need to have the phoenix app running in a separate window in order to run the integration tests?

thanks

chee

[2014-10-07 18:56] #27 closed, assigned to nobody

[2015-03-28 10:25] asconix commented on #25
Any chances to get CLI arguments into hound?

[2015-03-30 23:30] lpil opened #30 "Automatically start browser when running tests"
Hello!

I think it would be handy is hound automatically started a browser if one wasn't already running. :)

Cheers,
Louis

[2015-06-07 12:53] sevenseacat opened #34 "Response from phantomjs isn't processed properly"
Testing from the `refactor` branch.

The problem is the initial response from `:find_or_create_session`. As it is, I get the following error:

[code]

With the test specified here: https://github.com/sevenseacat/ticketee-phoenix/blob/master/test/features/create_project_test.exs

After some debugging, it turns out that the params being passed to `Hound.ResponseParsers.PhantomJs.parse/3` are `"sessi

[2015-06-07 12:55] HashNuke commented on #34
@sevenseacat Thanks. I'll look into it right away.

[2015-06-07 13:32] HashNuke commented on #19
Thanks for reporting.
Closing issue as Hound now uses httpoison (which inturn uses hackney). And there's no need to specify anything as optional dependency anymore.

[2015-06-07 13:32] #19 closed

[2015-06-07 15:11] HashNuke commented on #34
@sevenseacat I'm not able to reproduce the same error.

* I have the latest master of the project.
* I updated Hound to point to the latest version on refactor branch
* Installed phantomjs with `brew install phantomjs` and started it with "phantomjs -w"
* My phantomjs version is 2.0.0

[code]

Here's what I get when I run `mix test`:

[code]

Can you push your latest master to github? I'll see if

[2015-06-07 15:30] HashNuke commented on #34
@sevenseacat also, I've been keeping watch on TravisCI builds. They seem to have been green for a while - https://travis-ci.org/HashNuke/hound/builds. The builds are configured to test on both selenium and phantomjs.
I'll publish a new version on Hex for now. But do let me know if this bug persists for you and I'll fix it.

[2015-06-07 15:32] sevenseacat commented on #34
Yeah okay I must have forgotten to recompile something or something silly like that - I've just tried replicating it and it works now -_- Apologies for wasting your time, and I'm so glad this gem exists so I can get my testing on!

[2015-06-07 15:32] #34 closed

[2015-06-07 15:34] HashNuke commented on #34
@sevenseacat No worries. Thanks for reporting anyway. I merged changes into master.
I'll publish in a few minutes. Just sorting out some TravisCI caching stuff to do one last build before publishing.

[2015-06-07 18:13] HashNuke commented on #22
Too late but done. So closing this now :)
Thanks @herenowcoder ~!

[2015-06-07 18:13] #22 closed

[2015-06-07 18:14] HashNuke commented on #25
Just published a new version. I'll look into this for the next version this week.

[2015-06-07 18:14] HashNuke commented on #18
Thanks. I'll look into merging this into the next version this week. Just published a new version

[2015-06-07 18:17] HashNuke commented on #30
There's a recent PR by @manukall. I was waiting to rework Hound's internals before looking into it. Just published a new version. I'll finish add this feature this week.

[2015-06-07 19:04] lpil commented on #30
Thank you!

[2015-06-28 05:12] jontonsoup opened #35 "Wait for javascript to finish executing on the page"
I have a test that submits a form via ajax andthen does a page redirect. Is there a way to block until these actions are finished before the next hound command is run? Currently I have to throw a :timer.sleep(5000) into my code to make the tests pass.

I'm using `page_source` as a poor stand in for `expect(page).to have_text("some_text")`. If there is a more direct way of doing either of these thi

[2015-06-29 04:04] jontonsoup commented on #35
The second half of this is irrelevant now after this PR: https://github.com/HashNuke/hound/pull/36

[2015-06-29 04:33] HashNuke commented on #35
@jontonsoup In an Ember app I had a func to load app and check if Ember loaded every 3 seconds using execute_script. If loaded then return.

[2015-06-29 04:34] HashNuke commented on #35
I think we could have a helper like wait_for_javascript. Not sure if there's anything generic.

[2015-06-29 14:51] jontonsoup commented on #35
I thought about it a little more. The problem lies in that `page_source` returns immediately (without blocking for JS) and the assertion is done after this. 

How does adding a function `is_visible_text?/1` sound? It would retry several times before failure like the finders do. 

 I can implement this if you think it makes sense.

On Mon, Jun 29, 2015 at 12:34 AM, Akash Manohar <notifications@gith

[2015-06-29 14:56] HashNuke commented on #35
@jontonsoup I would look at capybara's implementation of wait_for_javascript instead.
That aside, we could have a separate matchers module to use with assert() easily.

[2015-06-29 15:10] jontonsoup commented on #35
@HashNuke I'm thinking of this functionality in capybara: https://github.com/jnicklas/capybara#asynchronous-javascript-ajax-and-friends, which seems to be implimented with a retry mechinism.

I do think this functionality is important as well (https://robots.thoughtbot.com/automatically-wait-for-ajax-with-capybara) but it wasn't the use case I was thinking.

Let me know which one you prefer (I lik

[2015-06-29 17:12] HashNuke commented on #35
@jontonsoup elements are already retried by default. Finders in Hound accept a retry argument in the end to change the default.

I'm open to ideas. Below are some notes:

* `wait_for_element/1` seems implementable, to return only when an element appears.
* `wait_for_ajax/0`: I'm not sure how they are implementable across frameworks (plain jQuery, Ember, React, Angular, etc)
* `wait_for_javascript/

[2015-06-29 17:58] jontonsoup commented on #35
@HashNuke ah I see, digging deeper into the docs it seems capybara implements this with custom rspec matchers. I assumed it was done with the retry functionality inside capybara itself. https://github.com/jnicklas/capybara/blob/master/lib/capybara/rspec/matchers.rb#L166

IMO seems like we should strive for a couple things:

1. Abstraction from the implementation detail (the same functions should w

[2015-06-30 04:28] HashNuke commented on #35
@jontonsoup Hound provides no matchers right now. With ExUnit you would write something like this

[code]

`find_*` helpers already accept an arg for number of retries - http://hexdocs.pm/hound/Hound.Helpers.Page.html

That's the problem with testing all frontend-heavy apps.

Abstracting the waiting increases the time to run tests that will fail since every element will end up being checked for a

[2015-06-30 15:35] jontonsoup commented on #35
@HashNuke Ah yes, I was using espec notation. Regardless of the notation / matchers, my concern is that feature testing that conflates implementation with user actions can lead to brittle tests, which is my hesitation around explicitly waiting for javascript.

We always try to test from the perspective of the user (preferring user actions over CSS finders etc), which has a long term advantage of m

[2015-06-30 16:10] HashNuke commented on #35
@jontonsoup

Go ahead and see if you can implement `visible_on_page?/2` in a new module called `Hound.Matchers`.
The second arg being the number of retries or interval in seconds, depending on how you implement it.

[2015-06-30 17:41] jontonsoup commented on #35
@HashNuke thanks! I'll take stab at it asap.

[2015-06-30 21:29] HashNuke commented on #35
@jontonsoup if you have any other matchers in mind, please do create an issue(s) with todo list if required. I'll pitch in too if required.

[2015-07-01 02:01] jontonsoup commented on #35
@HashNuke will do. I have another one in mind.

[2015-07-01 02:03] jontonsoup opened #38 "Within block"
@HashNuke how do you feel about a `within` block? I've used it in the past where the page has the same text in several different places (like a chat conversation).

http://www.rubydoc.info/github/jnicklas/capybara/Capybara%2FSession%3Awithin

[2015-07-01 15:55] jontonsoup commented on #35
PR here: https://github.com/HashNuke/hound/pull/39

[2015-07-02 03:00] jontonsoup commented on #38
@HashNuke whoops -- I meant a text matcher that can be scoped to a dom element.

[2015-07-02 07:20] HashNuke commented on #38
@jontonsoup good idea ~!
:+1:

[2015-07-02 15:16] jontonsoup commented on #38
I'm on it.

[2015-07-02 19:28] jontonsoup commented on #38
https://github.com/HashNuke/hound/pull/41

[2015-09-04 01:44] HashNuke commented on #38
Closing issue since PR has been merged.

[2015-09-04 01:44] #38 closed

[2015-09-04 01:45] HashNuke commented on #35
Closing issue since PR has been merged.

[2015-09-04 01:45] #35 closed

[2015-09-21 18:43] rockwood commented on #30
Any updates on this? It would be great if hound automatically started/stopped web drivers. Would it be helpful for me put together another PR?

[2015-09-25 05:33] HashNuke commented on #30
I've merged @manukall's PR. That auto-starts phantomjs. Selenium takes a while to start. Detecting if it's started/ready requires a recursive function. Feel free to give this a shot.

[2015-09-27 15:06] rockwood commented on #30
Great. Thank you!

[2015-10-04 23:00] nathanjohnson320 opened #47 "Error when navigating to URL"
Hi,

Sometimes when I run the `navigate_to(url)` command I get the following error:

[code]

[2015-10-05 02:24] HashNuke commented on #47
@nathanjohnson320 Can you paste the url if possible? Or can you check if the webserver that serves the request has a low speed or timeout?

[2015-10-25 19:01] tomduncalf commented on #47
I too am having this issue intermittently. I can't provide an URL for the page in question as it requires login, but it is a forum page with quite a lot of YouTube iframe embeds, so I guess it is timing out waiting for the iframes to load - this is what it looks like from watching the browser (the browser is "Waiting for www.youtube.com" when the timeout occurs).

I've added `config :hound, http:

[2015-10-26 02:25] HashNuke commented on #47
@tomduncalf Looks like this is something to do with HTTPoison (a dependency). I'll talk to the author about it.

@nathanjohnson320 Sorry forgot about this. Just looking into it.

[2015-10-26 02:50] HashNuke commented on #47
@nathanjohnson320 @tomduncalf Can you guys try with the latest version of HTTPoison (0.7.4) and hound (0.7.4)?

[2015-10-26 11:31] nathanjohnson320 commented on #47
Sure thing, I'll give it a shot after work :)

[2015-10-27 21:19] praveenperera opened #49 "Hound chrome_driver timeout error"
I'm trying to get a simple hound test working with my app, I figured out its an error with chrome_driver. I got it works perfectly fine with selenium + firefox and even with selenium + chrome.

However when using with chromedriver as the driver instead of selenium, it opens a new chrome window with `data:,` in the address bar and then timesout.

[code]

Here is my test:
[code]
I'm using Hound 0.7.

[2015-10-27 21:35] praveenperera commented on #49
Also I'm on OSX 10.11.1 El Capitan

[2015-10-28 06:16] praveenperera opened #50 "Hound timeout issue when using phantomjs and hound_session macro"
After starting phantomjs, using `hound_session` will cause all tests using the `navigate_to` function to timeout. However if you  do:

[code]

The tests will only timeout the first time. After the tests pass the first time they will keep working even if you switch back to using `hound_session`. However if you restart the phantomjs system process the test will start timing out again.

Here is the p

[2015-10-28 06:28] HashNuke commented on #50
@praveenperera It looks like errors in your app are causing this. The following lines in particular:

[code]

and

[code]

[2015-10-28 06:28] #50 closed

[2015-10-28 06:40] praveenperera commented on #50
Upgrading to phantomjs 2.0.1 worked!

[2015-10-28 07:58] HashNuke commented on #47
Looks like HTTPoison or hackney might be having a problem. #48 also looks related. I've filed an issue on the HTTPoison repo.

[2015-10-28 07:59] HashNuke commented on #49
@praveenperera Issue with HTTPoison actually. chromedriver has no problems.
I've filed an issue https://github.com/edgurgel/httpoison/issues/86. Will wait for the author to take a look.

[2015-10-28 09:18] tomduncalf commented on #47
Thanks @HashNuke (I assume you meant to reference #49?)!

[2015-10-28 09:34] HashNuke commented on #47
@tomduncalf ah yes. It is #49. I just incremented the number and didnt realize PRs are counted too. Lazy me :)

[2015-10-28 10:03] HashNuke commented on #47
There's a new version of hackney released yesterday. If HTTPoison is updated to use that I'm guessing this bug would go away (the changelog says body parsing is fixed).

[2015-10-30 04:46] praveenperera opened #51 "current_path function for phoenix testing?"
Hey I was doing some testing with Hound and realized that the current_url function doesn't work too well with phoenix route helpers. For example `assert current_url == post_path(conn, :new)`

So I created a quick function using regex to get just the path instead of the full url:

[code]

I was wondering if there's any plans of implementing a similar function. And if you are okay with the above sol

[2015-10-30 06:22] HashNuke commented on #51
You need URI.parse/1 to get the path

[2015-10-30 06:22] #51 closed

[2015-10-30 06:23] HashNuke commented on #51
@praveenperera about the PR yes. If you are interested, please do send a PR to add current_path.

[2015-10-30 06:28] praveenperera commented on #51
Awesome did not know it was that easy (URI.parse), I send a PR soon

[2015-11-15 05:30] HashNuke commented on #30
Removed this feature in the recent release (0.7.6) since it started on the path of patches to fix starting phantomjs. That'll be the same for other browsers. Overtime we'll start on a detour to make releases just to fix these errors.
Anyone who wants to author a lib that auto-starts browsers is welcome and I'll link to it on the readme.

[2015-11-15 05:30] #30 closed

[2015-11-15 05:32] HashNuke commented on #47
Header handling was fixed in hackney. In v0.7.6, I've updated the dependency to the latest httpoison. The new release should fix this issue.
If you still have problems please do re-open this issue and let me know.

[2015-11-15 05:32] #47 closed

[2015-11-15 05:32] HashNuke commented on #49
Header handling was fixed in hackney. In v0.7.6, I've updated the dependency to the latest httpoison. The new release should fix this issue.
If you still have problems please do re-open this issue and let me know.

[2015-11-15 05:32] #49 closed

[2015-11-30 19:28] orikremer opened #55 "Timeouts when running multiple sessions"
Hey,

I'm trying to visit multiple (11 in the example) pages and getting a timeout.
Running with 10 or less works fine.
(Testing with phantomjs).

Not sure if caused by hound or a dependent application or I'm missing a configuration.

Test to reproduce here:
https://gist.github.com/orikremer/0a3a2bcd4b9ef72f231a

Output:
[code]

[2015-12-01 03:17] backspace opened #56 "Test absence of element?"
Hey, thanks for creating this library. I’m new to Elixir and happy to be able to test-drive my application.

One thing I’m accustomed to is being able to assert both the presence and absence of an element. For instance, if a user logs in as an admin, they should be able to see links to admin-only pages. I’d like to test for their absence when a non-admin logs in, but I can’t find anything like tha

[2015-12-01 03:58] HashNuke commented on #55
@orikremer Thanks for reporting. I'll test this out today.

[2015-12-01 04:13] HashNuke commented on #56
@backspace Matchers in Hound are very limited right now.

`find_all_elements/3` returns a list of elements if a selector matches. You could do the following:

`assert find_all_element(:css, "#foo") == []`

I'll add a matcher in a few days.

[2015-12-01 04:17] HashNuke opened #57 "Add helpers"
Add the following helpers

* [x] element_html(element_id)
* [x] element_present?(strategy, selector)

[2015-12-01 04:20] backspace commented on #56
Ah, that’s a good enough workaround for now! Thanks for the quick response.

[2015-12-01 04:26] HashNuke commented on #55
@orikremer I just took a look at the code. I'm curious why you would want to test sessions concurrently? Can you explain what you are trying to test so that I can get some context?

[2015-12-01 04:29] HashNuke commented on #55
@orikremer ah just remembered. Most webdrivers (I've know this about Phantomjs and Selenium+firefox have a limit on the number of sessions that they can simultaneously have at the same time. They'll freeze/crash/anything beyond that limit. https://groups.google.com/forum/#!topic/phantomjs/jwv7K4zmt7A

[2015-12-01 04:29] #55 closed

[2015-12-01 04:50] #56 closed

[2015-12-01 11:00] #10 closed

[2015-12-01 11:01] HashNuke commented on #57
Done.

[2015-12-01 11:01] #57 closed

[2015-12-01 11:03] HashNuke commented on #56
There's now an `element?` helper in the master branch. You'll find it here - https://github.com/HashNuke/hound/blob/master/lib/hound/matchers.ex#L39-L49

[2015-12-01 11:04] HashNuke commented on #10
There's now `inner_html/1` and `inner_text/1` in master branch. I'll publish a new version in a few days.

[2015-12-01 18:16] orikremer commented on #55
@HashNuke Thanks. I have a large amount of web pages that I need to 'check' (visit and assert existence of elements) and I'm building a system to do it using hound.
I suspected that phantomjs may be the cause but wasn't able to confirm (aside from seeing it fail with > 10 sessions).
Code was structured to support multiple phantomjs processes (had to fork and support that in hound), although I was

[2015-12-01 21:39] backspace commented on #56
:tada:

[2015-12-02 10:29] herenowcoder commented on #10
Wow cool. Thanks! :D

[2015-12-04 04:12] arthurcolle commented on #49
Following this tutorial: https://lord.io/blog/2015/elixir-scraping/

And I'm getting this error:

[code]

With this mix.exs:

[code]

[2015-12-04 04:16] arthurcolle opened #58 "Hound.SessionServer // (MatchError) no match of right hand side value: {:error, %HTTPoison.Error{id: nil, reason: :econnrefused}}"
Hello,

As first mentioned in: #49 but now formally as its own issue.

Following this tutorial: https://lord.io/blog/2015/elixir-scraping/

And I'm getting this error:
[code]

With this mix.exs:

[code]

[2015-12-04 04:21] arthurcolle commented on #58
Additional information:

I created this test:

[code]

and received this output:

[code]

[2015-12-04 04:30] arthurcolle commented on #58
Additional information 2:

Created directory `dev_deps` to mess around with dependencies that don't work, in this case, `hound`
Ran `git clone https://github.com/HashNuke/hound` and did the following:

[code]

Let me know if I can do anything to help debug, maybe Selenium isn't running in the background?

[2015-12-04 04:35] HashNuke commented on #58
@arthurcolle Are you running Selenium or Phantomjs or Chrome driver in the background or another shell?

[2015-12-04 04:42] HashNuke commented on #58
@arthurcolle Looks like you aren't running any webdriver in the background.

From the readme:

If you want to use Phantomjs or Chromedriver directly, then you can do it by configuring Hound appropriately - https://github.com/HashNuke/hound/blob/master/notes/configuring-hound.md

To run the tests within Hound, you'll need to export an env var with the name of the webdriver  like `WEBDRIVER=phantomj

[2015-12-04 04:42] #58 closed

[2015-12-04 20:35] darksheik opened #59 "change_session_to fails with Selenium + Chrome/Firefox"
Hi!  Thanks for the great library.

Starting and stopping sessions this way works great, and I'm able to navigate to pages fine:
[code]

I'm working with sessions for the first time, and when I try to use ```change_session_to```, it launches the browser properly but then dies in an apparent attempt to store the session ID in a HashDict.

I'm using Selenium, and the error occurs with both Chrome an

[2015-12-04 20:53] darksheik commented on #59
Update:  This occurs when I haven't already called ```Hound.start_session```.  If I do that first, I can then start a second with ```change_session_to```.  But what I'd really like to do is have each session completely encapsulated and not have to worry about my "base" session.

[2015-12-05 10:04] HashNuke commented on #59
It's all about semantics. All sessions are assigned to the same process. They are just given different names. The default session is called "default". Since most us cases involves starting one browser session, the function has the word "change".

I'm open to suggestions with more details about code changes. Closing this issue for now.

[2015-12-05 10:04] #59 closed

[2015-12-11 23:47] bchase commented on #58
For anyone else unfamiliar with starting a webdriver server that's getting this issue, running the following in another terminal got the PhantomJS webdriver working for me:

[code]

[2015-12-13 06:13] HashNuke commented on #58
@bchase Thank you. I just went around checking the repo. Looks like I assumed too much that people will know that. I'll add more information about it.

[2015-12-15 23:01] luismackmack commented on #49
Hello, i would like write an script for automation browser using hound. In the practice, i have  the following issue:
<pre><code>
** (MatchError) no match of right hand side value: {:error, %HTTPoison.Error{id: nil, reason: :timeout}}
</code></pre>
This is my code, it's very simple.
- In mix.exs
<code>
  defp deps do
    [{:hound, "~> 0.7.6"}]
  end
</code>
- In config/config.exs
<pre><code>
  use

[2015-12-17 16:29] ghost opened #63 "Typo in Docs"
Such a minor thing but I was reading the docs and saw:
[code]

The first one refers to ``` input_info_field ``` which is meant to say ``` input_into_field ```

Obviously this isn't a huge issue but just making note of it :)

[2015-12-18 03:10] HashNuke commented on #63
Hello @antmg83. Thank you for reporting this. That is certainly important. Would you like to send a pull request? I'll merge it right away.

[2015-12-18 03:56] HashNuke commented on #25
@asconix phantomjs auto-starting has been removed to avoid patching and managing an external command/process. So closing this issue.

[2015-12-18 03:56] #25 closed

[2015-12-18 04:02] HashNuke commented on #18
Hello @BinaryMuse. @darksheik fixed it in his pull request. Closing this issue.

[2015-12-18 04:02] #18 closed

[2016-01-10 23:54] praneybehl opened #65 "Screenshot with (element) selector?"
Hi there,

Is it possible to take screenshots of DOM elements passing the element selector, pretty much like phantomjs - http://phantomjs.org/screen-capture.html ?

Cheers!

[2016-01-11 20:33] TFarla opened #66 "How to wait for an element to be visible"
I am trying to test a React app and need to wait for React to be done loading before trying to fill in a form on the page. Is there a way to make the tests wait until an element is visible on the page before the continuing?

[2016-01-11 20:37] darksheik commented on #66
@TFarla I had a similar need and wrote my own "retryer" based on the way Page.visible_on_page does it... a workaround for now.

[code]

Call with:

[code]

Where 10 is the number of times to retry.

[2016-01-11 21:09] TFarla commented on #66
@darksheik Thank you!

[2016-01-11 21:09] #66 closed

[2016-01-12 15:25] darksheik commented on #65
@praneybehl I was able to achieve this using a combination of Hound full screenshot and command-line Imagemagick.  Hopefully this helps...

[code]

[2016-01-12 23:50] praneybehl commented on #65
@darksheik thanks for the example mate. I was just wondering if there is an existing functionality. But maybe not. Also wondering if there is any scope to add such a functionality.

[2016-01-12 23:59] HashNuke commented on #65
@praneybehl Hound only interacts with webdriver servers and exposes the common functionality that they expose as the webdriver API. The feature you mention isn't a part of the webdriver API. @darksheik's solution is very appropriate.

[2016-01-12 23:59] #65 closed

[2016-01-13 00:02] HashNuke commented on #66
All selectors have a retry argument as the last argument. The number of default retries is 5. You could just increase that to get the required functionality.

The default interval between retries can be changed via a config.

[2016-01-17 08:20] HashNuke commented on #63
Seems like this is already fixed in master.

[2016-01-17 08:20] #63 closed

[2016-01-25 11:04] bigardone opened #70 "Element is not currently interactable and may not be manipulated"
Hello! I'm using **hound** to write some integration tests for a Phoenix application with a React/Redux front-end. I' have configured it to use **phantomjs**  and everything works great until I try to set a text into a form field. This is the text file:

[code]

The first test passes correctly but when it gets to the second one I get this error:

[code]

The React form is currently rendered so I d

[2016-01-31 16:15] josevalim opened #71 "Using hound for concurrent tests"
Hi @HashNuke! I tried to ping you on IRC but it did not work out, let me know if you would like this discussion to be moved elsewhere.

Today hound already supports multiple sessions, which would allow us to run tests concurrently. With Ecto 2.0, we are introducing an ownership feature, that would also allow Ecto to run concurrently. The next step is to make both of them work together so we have c

[2016-01-31 16:33] HashNuke commented on #71
@josevalim sorry. I didn't have IRCcloud on.  I'm totally open to changes in Hound.
I read about ecto 2.0 sandboxes in a previous plataformatec blog post. I'll take tomorrow to read more and try Ecto 2.0 sandboxes and ping back. I'll have an informed opinion that way.

[2016-02-01 16:20] joshcrews opened #72 "select option"
Does hound have a function for selecting an option from a dropdown?

[2016-02-01 17:05] darksheik commented on #72
I have been using straight CSS to get at it, seems to work, but sometimes it has locked up my Selenium...

[code]

You can also fire jQuery in a pinch...
[code]

[2016-02-01 22:17] HashNuke commented on #72
@joshcrews the official webdriver API doesn't provide anything direct to deal with select boxes. We'll figure something out soon. Until then @darksheik's solution is the way to go. Will keep this issue open as a sign of todo.

@darksheik thanks for pitching in ~!

[2016-02-07 19:56] nathanhornby opened #74 "Page not fully rendering before `page_source()` is available"
I'm having an issue where content on a page I'm accessing isn't populated when I start to interact with its dom. (it's actually inconstant, sometimes it is ready, sometimes it's not).

Is this something I need to deal with at the phantomjs end, or is there something hound can do to help here? I've looked through the docs and nothing has jumped out at me. I guess I need a kind of 'when the page has

[2016-02-07 22:02] darksheik commented on #74
Based on other retry schemes present in Hound, I came up with an idea of writing an "oscillator", wherein I can continually check for several different conditions which might be true before I proceed to do something.

[code]

You would pass a list of functions into it like this:

[code]

It should return a list with a true in the position of the condition that ended up being true:

[code]

You can

[2016-02-07 22:11] nathanhornby commented on #74
That's really neat - thanks for sharing!

[2016-02-08 14:14] nathanhornby opened #75 "Raised exception when `navigate_to` results in a timeout"
I'm wondering if this was an intentional approach that I need to deal with another way, or something that could benefit from some improvement (still learning).

But currently in cases of a timeout (etc.) when attempting a `navigate_to`, an exception is raised:

In my case I'd much rather be getting a status tuple back, like with the built-in `File` module. i.e.

[code]

(Although ultimately in suc

[2016-02-15 14:24] vitalis opened #76 "Wrong description for hound_session macro"
In the docs written
[code]
But the macro only starts session.
I suggest adding `on_exit fn-> Hound.end_session end` to hound_session macro,
I can issue pull request if needed

[2016-02-17 12:12] wende commented on #58
No success here.
Phantomjs is running, tests ran with

     WEBDRIVER=phantomjs mix test

Still the same error

OS: Vagrant Ubuntu 14.04

![screenshot from 2016-02-17 13 11 02](https://cloud.githubusercontent.com/assets/4634386/13109187/0e9e8854-d578-11e5-8521-cf0e13360369.png)

[2016-02-17 12:21] wende commented on #58
Ok. Setting

    config :hound, driver: "phantomjs"

In config.exs fixed the problem
Although that should be better documented in README file
It can be understood as if  `WEBDRIVER=phantomjs` should be enough

[2016-02-19 00:01] turnabout4 opened #77 "[error] GenServer Hound.SessionServer terminating ** (Poison.SyntaxError) Unexpected token: u"
I'm trying to integration test of phoenix framework on CircleCI.
Tests has successed on my local environment(mac with chromedriver). but on CicleCi, an error has occurred.

Best regards.

---

ERLANG_VERSION="18.2.1"
ELIXIR_VERSION="v1.2.2"

circle.yml
[code]

mix.exs
[code]

config.exs

[code]

error message
[code]

[2016-02-22 11:00] sharathkumar3011 commented on #58
@HashNuke

I followed tutorial http://hashnuke.com/2015/06/07/hound-phoenix-framework-integration-testing.html and http://blog.plataformatec.com.br/2016/01/writing-acceptance-tests-in-phoenix/

But when i execute mix test i get these error.

Consolidated Inspect
...

  1) test GET Phoenix framework page (Hello.SampleTest)
     test/sample_test.exs:14
     ** (exit) exited in: GenServer.call(Hound.

[2016-03-02 08:27] vitalis commented on #77
the solution is to remove `--url-base=wd/hub` from chromedriver runtime config

[2016-03-06 07:22] tuvistavie opened #79 "Have more helpful errors"
Right now, all failures result in a `RuntimeError`, which is ok for most cases,
but not very handful when we want to handle the errors, as we must pattern
match on the error message string.

In my particular use case, I use `find_element` on an element that is only present during
the page loading, to be sure that the page has fully loaded.
Therefore, the element not being present is the wanted sta

[2016-03-06 08:25] HashNuke commented on #79
@tuvistavie Yes. Let's make the change. Please do send a PR.

[2016-03-06 08:28] tuvistavie commented on #79
@HashNuke Thanks for the fast reply. Do you want me to go with `{:ok, element}` and the bang function, or with a custom error?

[2016-03-06 08:37] HashNuke commented on #79
@tuvistavie I would suggest the error. Because the return value of `find_element` needs to be pipe-able to the next helper function.

So `find_element` would return an element or `nil` and `find_element!` would raise an error if not found.

[2016-03-06 08:40] tuvistavie commented on #79
@HashNuke Good point, let's go with this. I'll send a PR as soon as I'm done.

[2016-03-06 11:01] HashNuke opened #81 "Improve response parsers"
Response parsers are dirty. Clean them up.

[2016-03-10 00:00] andreijs opened #83 "Can I open multiple tabs per session ?"
Hey,

I am just wondering if I can open multiple tabs per session ?

Regards
Andrei

[2016-03-10 03:19] HashNuke commented on #83
@andreijs that is currently not a part of webdriver specification. You'll have to open new sessions instead.

[2016-03-10 03:24] HashNuke commented on #83
@andreijs My bad. It is supported in the spec. And Hound doesn't have the 2 window functions that are required to switch tabs. I'll implement that sometime next week.

[2016-03-13 13:30] tuvistavie opened #84 "Passing elements to JS"
Hi,

I was trying to pass an element to JS and got some issue.
I would expect

[code]

to pass the element to JS, as most selenium implementation do,
however, it passes the ID, which is not very useful.

After digging a little in other implementations, I found out that it must be sent as

[code]

for it to work, so

[code]

does the job correctly.

However, I think it would be neater if we could d

[2016-03-13 16:07] HashNuke commented on #79
Closing since this has been fixed.

[2016-03-13 16:07] #79 closed

[2016-03-13 16:08] HashNuke commented on #76
@vitalis Yes please ~!

[2016-03-14 00:46] HashNuke commented on #84
@tuvistavie yes it makes sense. I never looked at this use case before. Please do send a PR if possible.

[2016-03-14 05:31] vitalis commented on #77
@HashNuke I think this issue can be closed

[2016-03-14 05:31] vitalis commented on #8
@HashNuke I think this issue can be closed

[2016-03-14 05:35] vitalis commented on #70
@bigardone  we are currently using hound + phantomjs 2.1.1 in our project and we have no issues with forms in react, I suggest you give it another try. I also suggest to run the phantomjs with log level debug and watch for javascript errors.

[2016-03-14 06:22] tuvistavie commented on #84
@HashNuke Sure, I am going to give it a try and I'll send a PR.

[2016-03-14 08:55] HashNuke commented on #84
@tuvistavie thank you. Looking forward to it (whenever you find the time).

[2016-03-14 11:08] bigardone commented on #70
Hey @vitalis thanks for your response. I'll give it another try today and share here the results :)

[2016-03-15 09:24] #76 closed

[2016-03-15 10:20] bigardone commented on #70
Hi @vitalis now it's almost working, but there's something going wrong though.
The tests passes but I get the following output:

[code]

That line in the `UserSocket` module looks like this:

`def id(socket), do: "users_socket:#{socket.assigns.current_user.id}"`

The thing is that this error doesn't happens while using **ChromeDriver** or while navigating through the application... is there anythi

[2016-03-15 11:18] vitalis commented on #70
@bigardone
I think it's session related issue, phantomjs uses same cookie jar for all sessions:
https://github.com/HashNuke/hound#phantomjs-caveats
you can try to use `Hound.Helpers.Cookie.delete_cookies()` to clear previous session data

[2016-03-15 11:46] bigardone commented on #70
Thanks for the response. I thought it was something related to that and I added the call to `delete_cookies()` at the end of the test but the result is still the same though :(

[2016-03-16 04:07] #81 closed

[2016-03-16 05:16] tuvistavie commented on #84
Fixed by #87 !

[2016-03-16 05:16] #84 closed

[2016-03-16 05:26] tuvistavie commented on #75
I think that you are right here, there are a few things that are currently raising exceptions but that should probably not.
I also need to handle this in a project I am currently working on, so I will try to send a PR with improved error handling when I find the time.
In the meanwhile, it's not very pretty but I suggest you simply rescue the error and retry a few times before failing.

[2016-03-16 05:47] tuvistavie commented on #74
I think this is the way to go.
I will close the issue for now, please reopen if you are still having some issues.

[2016-03-16 05:47] #74 closed

[2016-03-16 05:51] tuvistavie commented on #77
@vitalis Thanks for the solution!
@turnabout4 I will close for now, please reopen if you are still having issues.

[2016-03-16 05:51] #77 closed

[2016-03-16 05:54] #8 closed

[2016-03-16 11:47] darksheik commented on #75
I've actually tried capturing this error in my app, but I think it doesn't allow me to because it's happening much deeper on the session GenServer in Hound than other simpler errors like can't find element.

[2016-03-16 22:25] #83 closed

[2016-03-16 22:25] tuvistavie commented on #83
@andreijs Hi,

You cannot really work with multiple tabs. Well, if you really want to, you can try something like

[code]

but it is OS and browser dependent, so it is clearly not a good idea.
However, you can work with multiple windows, and you can also be sure that all
links with `_target=blank` or `window.open` calls will open a new window and
not a new tab, so you do not need to worry about it

[2016-03-16 22:50] tuvistavie commented on #71
@josevalim @HashNuke I am thinking one of the simplest way, that would definitely work with all browsers and drivers, would be to add this metadata directly to the user agent string.
To have this working, we would have to

1. Add a way to easily set the user agent, as there is not cross-browser way to do this
2. Add a utility function to add some metadata to the UA string
3. Add a utility function

[2016-03-17 00:04] josevalim commented on #71
The question is if drivers can let us customize the user agent.

[2016-03-17 00:08] tuvistavie commented on #71
AFAIK, all drivers and browsers let us customize this, which is why I think it could be a good solution.

[2016-03-17 00:23] josevalim commented on #71
If we can do this, it would be excellent. @tuvistavie can you investigate and send a PR to hound that allows us to configure the user agent when we start a session?

[2016-03-17 00:30] tuvistavie commented on #71
@josevalim Sure, I am going to give it a try!

[2016-03-17 03:05] HashNuke commented on #71
@tuvistavie Adding meta data to UserAgent is a brilliant solution ~! :+1:

[2016-03-17 03:10] tuvistavie commented on #71
@HashNuke Do you know if there is a simple way to do this with Firefox? It is trivial for Chrome and PhantomJS, but for Firefox it seems we need to implement the profile, which seems to be [quite a lot work](https://github.com/SeleniumHQ/selenium/blob/master/java/client/src/org/openqa/selenium/firefox/FirefoxProfile.java) for such a simple task.

[2016-03-17 03:15] #75 closed

[2016-03-17 13:32] vitalis opened #92 "File Upload"
Hi,
Any suggestions on testing file upload with hound?

[2016-03-17 13:58] tuvistavie commented on #92
Using `fill_field` on a file input with the full path as a value should work, are you having any trouble with that?

[2016-03-18 11:09] darksheik commented on #71
Here was my solution for creating a firefox profile.  It was a bit of a chore, but once it is in place it works very well and you can customize with whatever preferences you need.  I've even got it set up to use a locally-running proxy, but you may not need that.

To launch the session, create the profile with a Base64-encoded profile directory (zipped) and pass to desiredCapabilities:
[code]

The

[2016-03-18 13:57] josevalim commented on #71
Awesome, if we can make this work for concurrent testing, things will be even easier from the Ecto/Phoenix integration side!

[2016-03-21 07:33] tuvistavie commented on #71
@darksheik Thank you very much for sharing, this is really helpful!
Would you have the time to send a PR with your implementation and
possibly some tests?
If you don't have the time, just let me know and I will try to integrate
your solution into Hound.
Thank you ! :smile:

[2016-03-21 18:43] darksheik commented on #71
A bit swamped at the moment - This works well in my own Ubuntu/Mac infrastructure but I have been meaning to investigate whether I can do this without using the file system.

[2016-03-22 00:44] HashNuke commented on #71
@darksheik Thank you for posting details ~!

[2016-03-23 05:25] tuvistavie commented on #71
After merging #94, we will have the possibility to add the user agent for all browsers:

[code]

However, if we use it to add metadata, I think that having a common interface
to set this will be required.

I was thinking that being able to pass a `hound` key in desired capabilities
could be a clean way to do this, as it is obvious that we are doing something
hound specific and not driver specific.

[2016-03-23 07:58] josevalim commented on #71
That's great. It would be nice, however, if it was a single option indeed, so we can do:

    Hound.start_session(user_agent: "our strings")

In particular, I would keep the options for `start_session` all Hound specific and nest the driver options under the `:driver` key.

[2016-03-23 07:59] josevalim commented on #71
@tuvistavie once this is all said and done on the hound side, could you also please investigate integration from the Phoenix.Ecto side too? Thank you!

[2016-03-23 07:59] josevalim commented on #71
/cc @tokafish

[2016-03-23 08:18] tuvistavie commented on #71
This does seem cleaner, thank you for the feedback!
@HashNuke What do you think?

Sure, as soon as I have the time!

[2016-03-23 09:01] HashNuke commented on #71
@tuvistavie I vote for the driver options being under a key too. That way Hound options are easily identifiable.

[2016-03-28 20:13] brainlid opened #95 "Ability to make an API style POST while using Hound?"
## Situation

There are 2 services ("Service A" and "Service B") that coordinate together to setup a Web session for a User on Service B. I'm testing Service B.

## Workflow

* Service A POSTs a request to service B (using API credentials) to setup a session for the User.
* Service B sets up temporary Redis tokens and provides Service A with a temporary one-time-use URL to send the User to on Serv

[2016-03-28 20:27] brainlid commented on #95
After experimenting more with things like this...

[code]

I now believe the problem may not be with Hound, but my setup of phantomjs, selenium, etc.

The error messages weren't clear to me.

[code]

If the problem is my incorrect setup, I'd kindly suggest improving the error to be more instructive. :)

[2016-03-28 22:11] brainlid commented on #95
Got it working now.

[2016-03-28 22:11] #95 closed

[2016-03-29 01:34] tuvistavie commented on #95
@brainlid Hi,

Hound really is browser automation, so this will not be a feature in the future either,
it should be dealt with a normal HTTP client.

It is already improved in master :+1:

Please let us know if you run in other issues, thank you! :smile:

[2016-04-03 16:00] tuvistavie commented on #92
@vitalis Any news on this one?

[2016-04-03 16:01] tuvistavie commented on #70
Hi @bigardone,
Are you still having some troubles? If you still are, if would be great if you could provide us a minimal example to reproduce the issue so that we can help you better.
Thank you!

[2016-04-03 16:05] tuvistavie commented on #72
Hi @joshcrews,
Did you have any trouble simply using `click`?
If you did, could you please let us know on what kind of dropdown?
If not, I am not sure it is really a necessity to add something, as I think @darksheik solution is already simple enough.
What you you think?

/cc @HashNuke

[2016-04-03 16:09] joshcrews commented on #72
The darksheik click worked

[2016-04-03 16:11] HashNuke commented on #72
@tuvistavie Since it is a common input element, we could add support for bare-html select boxes.
Something like this maybe?
[code]

Underneath it would do the same thing as @darksheik did it, select by value/label and click.

[2016-04-03 16:28] darksheik commented on #70
I recently ran into this very issue.  You have to use Javascript events instead of changing DOM elements.

My workaround was to just inject the following JS in using ```ScriptExecution.execute_script```.

[code]

Usage:
[code]

[2016-04-03 16:33] darksheik commented on #70
Sorry for my removed comment - I didn't read the whole thread.

[2016-04-04 09:44] vitalis commented on #92
@tuvistavie no longer an issue :)

[2016-04-04 09:44] #92 closed

[2016-04-12 16:13] zamith opened #100 "Interaction with ExVCR"
I'm building a web scraper using Hound, and it works fine, but when trying to test it using [exvcr](https://github.com/parroty/exvcr) to mock the responses the responses are pretty much empty (at least no interesting data). I'm not sure if this is an exvcr or hound issue, or even if it is an issue with the way I have them set up, but hopefully you can help me.

I have opened the same [issue on the

[2016-04-13 12:34] HashNuke commented on #100
@zamith exvcr is for http requests made by your http client. When you use Hound, the http requests are made by the browser being used to test.

Unless required, I would suggest that you write tests at a much lower level (parsing the html obtained etc).

Closing this issue.

[2016-04-13 12:34] #100 closed

[2016-04-13 12:53] tuvistavie commented on #100
@HashNuke  After looking at the [code](https://gist.github.com/zamith/2ea2745bc68f42d2f655e5f778fca201), I think he is trying to mock the webdriver responses.

@zamith Why are you trying to do this? I am not sure it is really the way to go, could you describe your use case a little more precisely please.

[2016-04-13 13:57] zamith commented on #100
I was thinking of writing integration level tests for this, since a call to one of the tasks can visit a few different pages. Basically I wanted to mock the responses but not have to do it by hand, have them be automatically generated. I guess I can grab the HTML from the page and create a custom cassette for that. Is that what you're suggesting?

[2016-04-14 03:13] HashNuke commented on #100
@tuvistavie Thanks for pointing out. Just looked at @zamith's code.

@zamith I would suggest not trying to use exvcr on the webdriver responses. If you change the webdriver server (let's say from selenium to using chrome_driver directly), your cassettes will break :)

Yes, having the html of a page and writing tests for the parser is better. Or if it is definitely required, then just scrape the pa

[2016-04-15 02:01] dorothythurston opened #101 "navigate_to url as a certain user?"
@HashNuke I have seen in your own integration tests (https://github.com/HashNuke/mogo-chat/blob/108c611177363a04d278221aabc03dcd2b66597c/test/test_helper.exs#L91 for example) you sign in the user by using a method that fills out a form and signs in the user. I was wondering if there might be a way to add another function like the hound helper navigate_to but one that could take a user and store it

[2016-04-15 14:23] HashNuke commented on #101
@dorothythurston that would be mixing application concerns with the webdriver library. The webdriver API allows access to the cookie jar but Hound has no knowledge of how the application uses it to implement auth.

[2016-04-15 14:23] #101 closed

[2016-04-15 15:43] zamith commented on #100
I was trying to do that because each task can interact with multiple pages, and I couldn't think of a better way to do integration tests.

I guess that writing unit tests for parts of the parser is better than nothing. Thanks.

[2016-04-16 10:32] thisdotrob opened #102 "config [timeout: :infinity] does not seem to be working"
My config:
[code]

But I am still getting timeout errors when doing `navigate_to`:
[code]

[2016-04-16 10:45] tuvistavie commented on #102
@thisdotrob Thank you for reporting, I am going to give it a look!

[2016-04-18 01:47] tuvistavie commented on #102
@thisdotrob I am not really sure why this is happening yet, but it seems that it is fixed when removing the `_build` directory and recompiling.
I am going to investigate a little more, but could you try this temporary fix for now.
Thank you!

[2016-04-18 19:00] jsteiner commented on #92
I got this error when trying to use `fill_field`:

[code]

I did get it to work by writing a similar function (without the `clear_field`):

[code]

If this seems reasonable, I should have time either this or next Friday to circle back with a PR.

[2016-04-19 10:09] tuvistavie commented on #71
I think we are done here :tada:

[2016-04-19 10:09] #71 closed

[2016-04-24 21:47] pragmaticivan opened #104 "Support to Selenium Grid"
Does this lib supports Selenium Grid?

[2016-04-24 23:44] HashNuke commented on #104
@pragmaticivan AFAIK I think we already do since the API endpoints for selenium standalone and grid are the same. Just point the `host` option to your Selenium Grid instance.

Please do let us know if there's anything required to be changed/updated. Closing issue for now.

[2016-04-24 23:44] #104 closed

[2016-05-04 15:31] drapergeek opened #105 "Find element when there are multiple matching elements"
I noticed that if you use `find_element` and there are multiple elements that match your query, it will still operate fine. This seems like it could introduce some bugs that would be hard to track down in testing. If you believe you're clicking on a link and find out that the test framework is clicking on another, it could be confusing.

Would you consider having the app raise or otherwise handle

[2016-05-05 04:26] tuvistavie commented on #105
I think the current behavior is the one to go with, but I agree we could have a helper,
or an option to make the call fail if there is more than a single element.
@HashNuke What do you think?

[2016-05-05 04:35] HashNuke commented on #105
@tuvistavie agree.
@drapergeek if there were multiple elements then you would be using `find_all_elements` or `find_within_element` to be more specific. `find_element` action is a direct translation of the corresponding webdriver API call.

[2016-05-16 13:56] msambarino opened #107 "`in_browser_session` doesn't work properly when using `do`"
Whenever `in_browser_session` is used with `do` (i.e. `in_browser_session "some_session" do ... end`), functions inside the `do` block will be executed in the current_session, not the specified session. Furthermore,  a `BadFunctionError` is always raised in the end.

I believe this is because the functions inside the `do` block are evaluated before calling `in_browser_session` and so it receives t

[2016-05-16 14:05] msambarino opened #108 "session is not preserved after calling `in_browser_session`."
After `in_browser_session` is called, session is always changed to the default session, irregardless of which was the current session before calling `in_browser_session`.

For example, say i have 3 sessions, `A`, `B` and `C` where `A` is the default session. if, while on session `B` i call

[code]
then current session after the call will be `A` instead of `B`.

I think it would be best if current

[2016-05-16 14:25] tuvistavie commented on #108
Hi @msambarino, and thank you for reporting!
This should indeed behave as you said.
It would be really nice if you could send a PR.
Could you also fix #107 in the same PR please?
I have no strong opinion about using a function or `do`
but to avoid making a breaking change let's keep
the function for now and change the docs to reflect this.
Thank you very much! :smile:

[2016-05-16 14:27] tuvistavie commented on #107
@msambarino Thank you for reporting!

As I said in #108,

[2016-05-16 14:30] msambarino opened #109 "should `in_browser_session` return the result of the given function?"
`in_browser_session` always returns the id of the default session, im wondering if theres a reason for this, as it took me by surprise, i would have expected the result of applying the given function to be returned.

[2016-05-16 14:32] tuvistavie commented on #109
I think it would indeed be more useful, @HashNuke what do you think?

[2016-05-16 14:42] msambarino commented on #108
You're very welcome! I'll make a PR with both fixes (and #109 as well if its approved).

p.s. Thank you for your awesome work, i'm really enjoying using **hound**.

[2016-05-16 14:59] tuvistavie commented on #108
Thank you very much!
I'm very happy you're enjoying it, I'm looking forward to your PR!

[2016-05-19 21:26] tzveeJ opened #112 "Hound + Heroku"
Hopefully this is the right place for this issue.

I am using Phoenix with Heroku. I tried to start a phantomJS webdriver within the same Heroku application, but was unable to get it running. (I did get both started simultaneously, but that was because I had PhantomJS running as a worker and it didn't appear to be able to receive any traffic.) Instead, I had to create a new Heroku application, whe

[2016-05-22 06:12] #107 closed

[2016-05-22 06:12] #108 closed

[2016-05-22 12:37] #109 closed

[2016-06-24 18:54] tzveeJ opened #113 "Cannot Reconnect to Active Webdriver Session"
It appears that there's a disconnect between Hound's internal list of sessions and the webdriver's list of sessions. When I call `Hound.Session.active_sessions()` I get a list of sessions running on the webdriver. But when I try to change to one of them `change_session_to(session["id"])` it creates a new session.

Looking a bit more closely at `Hound.SessionServer.change_current_session_for_pid`,

[2016-06-26 13:40] HashNuke commented on #113
@tzveeJ I'll update the implementation to use ETS table to store sessions in the next couple days (Open to it if anyone wants to pick it up).
right now sessions are stored in a name and only map to the session's name and not the ID.

Ideal implementation should be change_session_to being able to accept session name as atom (elixir-named sessions) or session name as id (directly referring to the id

[2016-06-26 13:41] HashNuke commented on #102
@tuvistavie This seems like a hackney bug that I came across recently (that affected httpoison). It has been fixed since.

Closing this.

[2016-06-26 13:41] #102 closed

[2016-06-26 13:42] HashNuke commented on #112
@tzveeJ background workers

[2016-06-26 13:50] HashNuke commented on #112
@tzveeJ Heroku background processes cannot be bound to a port to receive inbound requests. So you will have to run phantomjs as a separate app as the `web` process so that you can bind to `$PORT`.

From heroku's docs - https://devcenter.heroku.com/articles/dynos

Closing this issue.

[2016-06-26 13:50] #112 closed

[2016-06-27 15:52] tzveeJ commented on #113
Excellent - looking forward to it. Personally, I don't need Hound's internal naming system - it's perfectly easy to use the session ID returned and almost seems as though it would be more intuitive to just always use session ID as opposed to even having a concept of a name. But that's just me - I'm looking forward to either solution.

[2016-06-28 13:40] adamtrilling opened #115 "Compilation error"
I'm getting a compiler error when trying to build hound:

[code]

The error occurs on all three files in `lib/hound/response_parsers`, I guess depending on which order the compiler decides to compile them. I don't know enough about erlang to look too deeply into this.

I'm running elixir 1.3.1 and erlang 19.0. This is within a Phoenix 1.2 project, if that matters.

[2016-06-28 14:47] tuvistavie commented on #115
@adamtrilling Hi, thanks for reporting.
I managed to reproduce the issue. It seems to occur when using Erlang 19.0. I am going to investigate.

[2016-06-28 14:57] tuvistavie commented on #115
There seem to be an issue with the [`ResponseParser` `before_compile` hook](https://github.com/HashNuke/hound/blob/master/lib/hound/response_parser.ex#L16), no idea why.
I will investigate further.
@HashNuke Any idea?

[2016-06-28 15:02] HashNuke commented on #115
@tuvistavie Installing 19.0 to investigate soon. Not sure why this happens.

[2016-06-28 15:03] tuvistavie commented on #115
Ok, I just found out `quote line: -1` does not seem to work anymore,
replacing by `line: 0` gives the same result and removes the compile error.
I will update the code here and report to Elixir just to be sure.

[2016-06-28 15:05] #115 closed

[2016-06-28 15:17] tuvistavie commented on #115
After checking the behavior, I was thinking that `line: -1` was needed for the
function to be evaluated as the last clause, but it seems that I was wrong, so
I will just remove the `line` option.

[2016-06-28 15:27] adamtrilling commented on #115
And now it compiles!

Thanks!

[2016-06-28 15:28] tuvistavie commented on #115
I just found out that the `line` option was needed for OTP 17.x, so I will revert to `line: 0`.
I will publish a new version as soon as Travis tells me we're good :smile:

[2016-06-28 15:50] tuvistavie commented on #115
I just published 1.0.1 with support for OTP 19.

[2016-06-28 21:57] thiagogabriel opened #116 "find_element with :link_text does not work with phantomjs"
I'm trying to click on an element based on the link name but the element is not found even with `find_element(:link_text, "Home")`.
I'm using Elixir 1.2.3, Phoenix 1.1.6 and PhantomJS 2.1.1.

When I replaced the driver with selenium, `find_element(:link_text, ...)` and `click({:link_text, ...})` started working.
Is this a known problem and is there a way to solve this?

My configurations are:

[co

[2016-06-29 00:52] tuvistavie commented on #116
@thiagogabriel Hi, thanks for reporting.
I was unable to reproduce your issue, so it is probably not just that `link_text` is not working.
I created a repository to try to reproduce this:

https://github.com/tuvistavie/hound-issue-116

Could it be that the form is not properly submitted when using PhantomJS?

[2016-06-29 02:02] thiagogabriel commented on #116
@tuvistavie I'm digging deeper and found out that the problem happens on `navbar` from twitter bootstrap. I created a Phoenix application [here][1] where the last commit is the only one that makes a real difference. It works fine when I try to get a link outside navbar.

[1]: https://github.com/thiagogabriel/phoenix_hound_issue_116

[2016-06-29 02:21] thiagogabriel commented on #116
I believe the menu get's collapsed when the page is opened on phantomjs. Is it possible to set a configuration on [test.exs](https://github.com/thiagogabriel/phoenix_hound_issue_116/blob/89eb35e6e605a779e63a8b233cfbbcdc8db116f4/config/test.exs#L21) to define a bigger window, or the only solution is use something like [Hound.Helpers.Window.html#maximize_window](https://hexdocs.pm/hound/Hound.Helper

[2016-06-29 06:07] tuvistavie commented on #116
I don't think there is any way to set the window size from the configuration when using phantomjs.
@HashNuke: Do you know if it is possible?

Otherwise, I just tried with `maximize_window` and it worked just fine, so you can just write a setup that will start the session and set the window_size for you, for example:

[code]

Note that this example requires Elixir 1.3

[2016-06-29 17:12] thiagogabriel commented on #116
@tuvistavie is this a good solution for Elixir 1.2? https://github.com/thiagogabriel/phoenix_hound_issue_116/commit/00a19bd8f2da95ce063b10921e5d2fbfd52fde8f

[2016-06-29 23:13] tuvistavie commented on #116
This solution seems perfect to me :+1:

[2016-06-30 00:37] HashNuke commented on #116
@tuvistavie I think we do allow passing custom options to browsers/drivers. But maximi

[2016-07-02 16:41] wende opened #117 "Error when compiling with Elixir 1.3"
[code]

[2016-07-02 16:42] tuvistavie commented on #117
Hi @wende,
This should be fixed with 1.0.1, could you give it a try please ? :smile:

[2016-07-02 16:55] wende commented on #117
Yeah. Updating fixed it. However I seem to have a lot of these errors in other libraries like ExMachina. What's the cause? Maybe if it was pointed out by someone it'd be easier to fix it around libraries

[2016-07-02 21:17] HashNuke commented on #117
@wend Daniel (@tuvistavie) fixed it and posted some comments on this issue https://github.com/HashNuke/hound/issues/115. It is about usage of `quote`.

Closing this issue. But please do re-open if you have any more compilation errors.

[2016-07-02 21:17] #117 closed

[2016-07-02 21:19] HashNuke commented on #116
@thiagogabriel Just checked the commit you linked to. `current_window_handle` should already be available when `use Hound.Helpers` is added. So it would suffice if `current_window_handle` is called without the module namespace.

[2016-07-28 07:50] vitalis commented on #72
👍

[2016-07-30 17:21] Fahrradflucht opened #120 "How to sideload PhantomJS Polyfills?"
I get:

[code]

from PhantomJS because `Object.assign()` seems to be missing. I would like to Polyfill it, for example with [`phantomjs-polyfill-object-assign`](https://github.com/chuckplantain/phantomjs-polyfill-object-assign).

As declared in the Readme of the mentioned project, in Karma you are able to sideload javascript files into Phantom/the page. How would one go about that with hound?

I k

[2016-07-31 15:54] RobinClowers opened #121 "File download"
Is there a way to download files over http with hound? I poked around but didn't see any support for it.

[2016-08-02 06:21] tuvistavie commented on #120
IIRC, PhantomJS 2 should support `Object.assign` correctly.

Otherwise, I suggest you just add the polyfill to your project,
as I do not think this is really the job of Hound,
which is an interface to an external webdriver.

@HashNuke What do you think?

[2016-08-02 06:24] tuvistavie commented on #121
This is driver dependent, and we do not have any clean way to do it for now.
PhantomJS does not seem to [support this](https://github.com/ariya/phantomjs/issues/10052) yet.

In what context do you need to download a file?
It could be easier to guide you towards a solution or workaround if we have the whole picture.

[2016-08-02 06:42] Fahrradflucht commented on #120
I use PhantomJS 2 it neither supports Object.assign nor Promises.

I think it's a valid feature for hound to support polyfilling the web driver environment for cases were PhantomJS lags behind the minimum browser versions you would like to support. How is hound different then Karma in that perspective?

[2016-08-03 06:57] tzveeJ commented on #113
I have started to work on this, but I am struggling with some aspects of this library.

In particular, I believe that the API for Hound.Helpers.Session was written with a noble goal but an unfortunate result - confusion and unreliability. Some of the issues include:

- SessionServer attempts to kill sessions if a process dies. But sometimes it fails to do so, stranding a session. There's no API in

[2016-08-03 23:47] RobinClowers commented on #121
@tuvistavie Thanks for getting back to me. I was hoping to log into a website and download a file, I was able to use an http client and do a direct post to login and then use the session cookie to get the file. I still think it would be cool if hound supported this, but I get it's tricky being driver dependent.

[2016-08-03 23:47] #121 closed

[2016-08-05 03:15] tzveeJ commented on #113
#123

[2016-08-11 08:42] sphaso opened #125 "Use Hound outside of a testing environment"
Hello,
We would like to use your excellent library outside of a testing environment. That means, we require to use a webdriver e.g. in a normal Phoenix application. Is something like this in the working? Will Hound remain a testing library first and foremost?
We're also considering forking Hound but we're unsure about the effort required to have Hound work without ExUnit. Would you say they're hop

[2016-08-11 08:51] sphaso commented on #125
I guess I should have read the README more carefully. Sorry and keep up the good work!

[2016-08-11 08:51] #125 closed

[2016-08-14 13:40] sphaso opened #126 "send_key inline documentation contains less atoms than key_codes_json can handle"
Reading the documentation I was puzzled by the absence of some atoms (e.g. arrow down) for the ```Page.send_key``` function, only to find they are actually handled when digging into the code.
Is there a reason why some keys are not documented? If not, I would love to send a pull request updating the ```send_key``` inline documentation to match the ```InternalHelpers.key_codes_json``` pattern match

[2016-08-19 17:11] miskolc commented on #116
I have the same problem with links hidden in the `navbar`. Links outside the navbar can be found by their text, but even in that case I wasn't able to find links who had other elements inside them such as span( details bellow).
@thiagogabriel 's solution above doesn't work for me :(

      home_link = find_element(:link_text, "Home")

     ** (Hound.NoSuchElementError) No element found for link_te

[2016-08-28 17:52] blackoperat commented on #49
I am getting this error when I try to run the test below. There error happens but the browser still launches. It seems like a timing error? I have selenium server running and I can see the sessions it creates on the hub.
`
13:32:12.294 [error] GenServer Hound.SessionServer terminating
** (MatchError) no match of right hand side value: {:error, :timeout}
    (hound) lib/hound/session_server.ex:78:

[2016-08-30 07:10] tuvistavie commented on #49
@blackoperat Hi,
I suspect this is not an issue with Hound directly, but with the version of Selenium and Firefox.
Firefox seems to be moving to the geckodriver to communicate with Selenium, so give a try to
Selenium 3.0.0-beta2 with geckodriver (0.10.0 is the latest as writing this), it works perfectly for me.

[2016-09-16 14:18] drapergeek opened #127 "Possibly useful helpers?"
Over the past few projects I've worked on, I've accumulated a few helpers that have made my life easier. They are wrapped around your functions that make it a bit more high level to interact with a web page. I thought I'd ask if you'd like me to add a PR for these, alternatively I could put them in a small library that is dependent on Hound if you're not interested.

Here are the functions I'm usi

[2016-09-17 03:42] HashNuke commented on #127
@drapergeek Hello ~!
This is very helpful. We actually have a helper modules and these functions would be a great addition.

Here are some notes:

* Some of the helpers can be made generic. For example `any_have_src_matching` could be `elements_with_attribute_matching(elements, attribute, value)`

* `select/2` could be `select_option(select_element_or_finder, option_text)`. This goes with all elem

[2016-09-20 11:45] CD1212 opened #129 "set_cookie with PhantomJS 2.1.*"
I have just upgraded from PhantomJS 2.0.0 to 2.1.1 and tests which were successfully passing are now failing with the following error. Supposing I set a cookie as follows:

[code]

The test fails with:

[code]

I have upgraded to the current master branch of Hound, but the issue persists.

[2016-09-25 18:35] jbhatab opened #130 "visible on page issue"
I know there are 2 other issues about this with the visible_in_element? and visible_in_page? solutions but they aren't working for my case.

![screen shot 2016-09-25 at 11 32 18 am](https://cloud.githubusercontent.com/assets/2458718/18817400/1df93e80-8314-11e6-9340-654f6cf96a26.png)

I have a sidebar that comes out of the side with a transition and it fails for "element not visible" when I click t

[2016-09-25 18:43] jbhatab commented on #72
I have a problem where material-ui makes a fixed dropdown that's similar to bootstraps modals for the visuals to click. Not sure what the best way to deal with this is.

[2016-10-04 04:05] johnmosesman opened #131 "Similar function to capybara's save_and_open_page?"
Hi there,

Just wondering if there's a method similar to capybara's [save and open page](http://www.rubydoc.info/github/jnicklas/capybara/Capybara%2FSession%3Asave_and_open_page). That method is very useful to see if you're actually on the page you think you're on (for example if you've forgotten to login and you've been redirected without realizing it.)

[2016-10-16 14:38] jluckyiv opened #132 "PDF content helpers"
I want to test the content of rendered PDFs. I have Elixir code that works with files on disk, but I'm trying to figure out how to hook it into Hound. I know `page_source` and `visible_page_text` won't work. Where in the pipeline should I be looking to hook in? I'll take a stab at a PR if someone can point me in the right direction. Thanks.

[2016-10-19 18:18] martndemus opened #133 "Document the `cannot find ownership process for #PID<>` error"
It took me a few hours to figure out what I exactly had to do, it would be really nice if there was a small blurb in the `README.md` that addresses this issue.

[code]

Following the `Ecto.Adapters.SQL.Sandbox` docs did not help directly.

I ended up finding my solution in: http://codeloveandboards.com/blog/2016/01/29/integration-tests-fun-with-phoenix-and-react/

[2016-10-28 19:55] cwc commented on #102
This bug still exists. The HTTP options are read from the application config here: https://github.com/HashNuke/hound/blob/master/lib/hound/request_utils.ex#L4-L6

However, because they are assigned to the constant `@http_options`, the value of the config is only evaluated *at compile time*. This is why the behavior is "fixed" when Hound is recompiled.

I would recommend replacing references to `@h

[2016-11-01 03:44] jfrolich opened #135 "Use headless chrome"
Recently there has been progress in creating a real headless chrome. This would probably make integration testing a lot more robust and (probably) faster.

Some instructions on how to use it are here: https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md.
What would be the effort on making this work with hound? Any thoughts?

[2016-11-08 08:10] denispeplin opened #136 "Tests fail randomly on start"
My `Hound` tests fail, and from error I see that there is no data in my database.

It happens randomly, with approx 50/50 ratio.

Driver is `PhantomJS`.

I'm inserting data with `ExMachina` factory, then starting `Hound` session.

How to fix this issue?

[2016-11-11 19:30] martndemus opened #137 "Allow for more relax timeout on on GenServer.call in session_server.ex"
The `GenServer.call` call in
https://github.com/HashNuke/hound/blob/master/lib/hound/session_server.ex#L38 times out on CI from time to time. It would be nice to be able to configure this timeout to be able to adjust for slow CI servers.

[2016-11-11 20:00] martndemus commented on #137
This is the error I'm getting:
[code]

[2016-11-24 11:03] daniel1943 commented on #137
Same here (running selenium grid with chrome).

[2016-12-06 18:00] Daniel-Xu commented on #113
Not sure if it's the same issue, but I cannot use `navigate_to` with selenium now:

![image](https://cloud.githubusercontent.com/assets/548144/20937203/dfb8a902-bbb3-11e6-8d59-606219deab2d.png)

[2016-12-09 06:00] hchan-enbala opened #139 "File open dialog"
Hi,

I'm testing something that requires the user to choose a file to upload. How do I handle that dialog?

- user presses "choose file" button.
- a file chooser dialog pops up, select file, hit open. Dialog goes away
- user presses "upload" button

I don't think these can handle this situation:
https://hexdocs.pm/hound/Hound.Helpers.Dialog.html

any help would be greatly appreciated.

thanks in a

[2016-12-15 17:21] fastjames commented on #133
Thanks for pointing to this page, it was helpful but I also encountered a follow-on problem. I did as the page instructed, which gives "ownership" of the shared DB connection to the running integration test. However, _I never used the DB connection in the test itself_. Apparently because of this, the connection would be dropped before the running application could use it and so I would (almost alw

[2016-12-16 13:49] drapergeek commented on #131
`take_screenshot/1` is available and does the same thing, does that cover what you're looking for? https://hexdocs.pm/hound/Hound.Helpers.Screenshot.html#take_screenshot/1

[2016-12-16 19:07] jpettit opened #140 "Documented Example of Hound Config.exs using Application.get_env"
I was curious if you have a working example using `Application.get_env/3` for `app_host` and `app_port`?

I run a Hound test using IEx.pry and Inspect brings up my values appropriately as expected for my test configuration: "localhost" and 4001 are the values I'm after.

However, I seem to be always getting nil returned when running my hound test using mix test

Additionally, when I set the follow

[2017-01-04 03:37] steve0hh opened #142 "selenium webdriver 3.x.x not maintaining session"
I've just updated to the latest version of webdriver 3.0.1 with gecko installed.

Using hound `~> 1.0`

Everything worked fine with the exception that sessions are not maintained.

[code]

[2017-01-04 15:31] tute commented on #137
Same here, trying to run in SauceLabs

[2017-01-06 05:44] tuvistavie commented on #137
Hi, sorry for the delay.
Could anyone provide a minimal example to reproduce?
Timing out after 1 minute seems fair enough, so I am wondering if this is really the root of the issue.

[2017-01-06 05:47] tuvistavie commented on #142
I remember having used webdriver 3.x without any issue, but I will take a look.
What version of geckodriver and firefox are you using?

[2017-01-10 16:24] steve0hh commented on #142
Thank you for your response.

I am using:
firefox version 50.1.0
geckodriver 0.13.0

[2017-01-12 17:10] gliwka commented on #135
You can do this already with hound. No modification needed.

Just setup Hound to talk to ChromeDriver and pass the --headless command line option using the capabilities. Make sure you've got a recent dev channel build and create a symlink from the unstable binary to one of those ChromeDriver searches for: https://github.com/bayandin/chromedriver/blob/e9a1f55b166ea62ef0f6e78da899d9abf117e88f/chrome

[2017-01-29 18:12] gliwka opened #145 "Transfer sessions between processes"
Hi,

thanks for the amazing work!

Is there a way to transfer a session to a different BEAM process?

I'm trying to implement a session pool with already open sessions so there's no need to wait for the browser to start. For this i've implemented a GenServer creating multiple sessions, but there seems to be no obvious way to transfer the session to a different PID.

If there's no way, would you be

[2017-02-01 18:26] kennedc opened #146 "current_url throws Poision.SyntaxError"
I'm trying to get the current_url of a page with phantomjs

but calling current_url throws the error:

[code]

I'm running the following versions:

[code]
And i'm using config :hound, driver: "phantomjs"

page_source works as expected. any ideas?

Kenneth

[2017-02-13 04:50] tuvistavie commented on #142
Hi and sorry to reply so late.
I just tried with firefox 51.0, selenium 3.0.1 and geckodriver 0.13.0 and did not have any issue on websites using both cookies and localstorage.
Do you know how the website you are using manages the session?

[2017-02-17 11:30] denispeplin commented on #146
Same error. `phantomjs` 2.1.1, `Poison` 2.2.0, `Elixir` 1.3.4.

[2017-02-18 00:49] tuvistavie commented on #146
Hi, thanks for reporting.
I could not reproduce the issue.
Could someone please provide a minimum sample code to reproduce this?

[2017-02-23 09:28] mlankenau opened #147 "fill_field produces: protocol String.Chars not implemented for %Hound.Element{uuid: ":wdc:1487841743209"}"
Hi there,

We do a
find_element(:css, "some css selector", 20)
|> fill_field("some text")

The fill_field produces the error:
** (Protocol.UndefinedError) protocol String.Chars not implemented for %Hound.Element{uuid: ":wdc:1487841743209"}
     stacktrace:
       (elixir) lib/string/chars.ex:3: String.Chars.impl_for!/1
       (elixir) lib/string/chars.ex:17: String.Chars.to_string/1
       (hound)

[2017-02-23 09:44] mlankenau commented on #147
Ah, it happens with both phantom_js and chromedriver.
Stepping back to 1.0.3 solves the problem for the moment.

[2017-02-23 15:54] tuvistavie commented on #147
Hi, could you give me a website where I can reproduce this please?
I just tried a few examples but could not reproduce.
For example, with selenium + geckodriver:

[code]

[2017-02-24 19:35] mlankenau commented on #147
Hi, sorry the website is not public available. Even with the 1.0.3 the problem came back to me. So it is not version related. Deleting all the files in _build folder solved the issue for me again. So I am not sure if that is a hound problem or something with my env. If am the only one having the issue we can close the issue. Deleting the binaries is a workaround.

[2017-02-25 05:53] tuvistavie commented on #147
That's very weird. Please let us know if you discover something.
Thanks for reporting!

[2017-02-25 09:16] mlankenau commented on #147
We have an Umbrella Project, maybe it is related.
Thx for taking care...

[2017-03-21 17:19] kennedc opened #148 "crash after running for several hours"
I wrote a webcrawler using hound, but after running several hours i get this errror which crashes the program

`** (RuntimeError) Tried to run command without establishing a connection
Build info: version: '3.0.1', revision: '1969d75', time: '2016-10-18 09:48:19 -0700'
System info: host: 'rootkc', ip: '127.0.1.1', os.name: 'Linux', os.arch: 'amd64', os.version: '4.4.0-66-generic', java.version: '1

[2017-03-29 07:02] mlankenau opened #149 "retreive DOM"
Hi there,

More a question than an issue...
would it be possible to retrieve the full dom of the page (not the source) to match that with expectations?

BR

[2017-04-01 21:17] #149 closed

[2017-04-03 16:20] tk8817 opened #152 "Proposal: Split Hound into Bindings & Helper Framework"
Hey @HashNuke,

I have a team of 3 devs working on Elixir webdriver bindings that are W3C compliant. We were recently made aware of Hound and it appears like our efforts may be better spent helping out with your project.

Our goal is to get a feature complete elixir binding accepted by the Selenium foundation so we can increase visibility of Elixir for Selenium testing. Would you have any interest

[2017-04-03 16:29] HashNuke commented on #152
@tk8817 definitely. Let us know how we separate/modularize.

[2017-04-03 18:49] tk8817 commented on #152
@HashNuke - I will be in touch via more personal means. I am at SeleniumConf right now and the topic of Elixir bindings came up, there is certainly appetite to pursue an official set.

[2017-04-03 21:36] tuvistavie commented on #152
@tk8817 This sounds great!

[2017-04-05 09:39] dfalling opened #153 "Empty results using PhantomJS"
Hi, I'm trying the standard config with the PhantomJS web driver.  A very basic test which attempts to scrape www.example.com isn't working for me:

[code]

[code]

If I try to target something more specific, such as an `h1` or `a` tag, it eventually times out with no results.  How do I go about troubleshooting this?  Thanks!

[2017-04-06 06:26] agustif opened #154 "execute_script has inconsistent output if using on iex vs my code."
I want to "accept cookies" in some website I'm scraping and in order to do so, at least in Chrome's JS console you just type function(); and you're in.

The thing is, I almost always code first in iex and then implement in the code in some small func

Anyways, if I input in iex the following:
[code]
Yay!! It works as expected!!

BUT, if I use that same two lines in my elixir code, it doesn't execu

[2017-04-06 06:30] agustif commented on #152
Great to see a 3 person team wants to support the project, would be good for the future for sure!

[2017-04-16 17:19] ejoubaud opened #155 "Mention Phoenix default conf in README/doc"
Hi there, I just ran my first tests with `hound` on a Phoenix app today. It's working great, awesome work!

Only problem I had was I was not setting the `server` option to `true` in the endpoint config part of my `config/test.exs`. The tests wouldn't start a Phoenix server so my calls to `navigate_to("/")` would keep the `current_url()` stuck on `"about:blank"`.

I was able to find out about the `

[2017-04-16 23:12] tuvistavie commented on #155
Hi, thanks for reporting.
You are right, I think it is worth mentioning in the readme.
It would be really nice if you could add it to the readme and send a pull request.
Thank you very much :smile:

[2017-04-26 02:18] marcelotto commented on #147
We're experiencing the same problem regularly. It's also happening in the context of an umbrella project. Unfortunately it's also not public.

I'm deleting the file `_build/test/consolidated/Elixir.String.Chars.beam` anytime this error arises, which solves the problem for some time.

[2017-04-26 13:48] hisapy opened #156 "Session is deleted when an element is not found"
When I try to `find_element` but it fails the session is deleted. I see the following in my phantomjs logs

[code]
** (RuntimeError) could not find a session for process #PID<0.506.0>
[code]

[2017-05-03 03:02] hisapy opened #157 ":chrome_driver, Unexpected end of input"
Hello,

I started a headless chrome using this [Dockerfile](https://github.com/justinribeiro/dockerfiles/blob/master/chrome-headless/Dockerfile) and added the following config for Hound

[code]

However as soon as Hound.start_session() is called I get the following error:

[code]

[2017-05-03 07:27] tuvistavie commented on #157
Hi, thanks for reporting.

I managed to reproduce your issue, but it only seems to occur when running Chrome driver inside Docker.
For some reason, chromedriver returns a 404 response when running inside Docker.
I improved a little the error messages: https://github.com/HashNuke/hound/pull/158, but as everything works when chromedriver is running "normally" (meaning not containerized), I do not th

[2017-05-03 07:40] tuvistavie commented on #156
Hi, thanks for reporting.
I did not manage to reproduce. Would you have a minimal example where this happens?

Here is what I tried:

[code]

[2017-05-03 11:56] darksheik commented on #157
Generally when I've encountered something like this, it's because the webdriver application did not successfully start and it sent something other than XML back to Hound.  Perhaps the `ResponseParser` just needs to test for valid XML before trying to decode it with `Poison`.

[2017-05-03 11:58] darksheik commented on #157
Oh look you did something like that 😄
https://github.com/HashNuke/hound/pull/158/files

[2017-05-03 12:47] hisapy commented on #157
Hi,

Actually I think that the issue is that the **chrome --headless ...** is not a _chrome driver_. Apparently it uses other protocols under the hood. Moreover, when I tried it manually it only worked to open publicly available sites but didn't work for stuff at localhost.

Anyway, I'm going to update my local chrome as soon as I get back to my MacBook and give it another shot.

Just for the reco

[2017-05-03 12:56] darksheik commented on #157
I tried Chrome headless out myself yesterday and also did not get it to start a session on the port I asked it to (`remote_debugging_port`).  This was the dev channel version 60.

Be interested to know the answer as my tests run really slowly in regular Chrome.

[2017-05-03 14:41] tuvistavie commented on #157
Oh, ok sorry I run a normal chromedriver outside of docker, so it's really not the same thing.
Chrome headless seems to run with selenium, and Hound works with Selenium, so I think we should be able to make it work.
Has anyone run into troubles with Selenium + Chrome headless?

[2017-05-03 14:49] tuvistavie commented on #157
After googling a little, someone has already done the hard work :smile:
See
https://github.com/yukinying/chrome-headless-browser-docker

I managed to run Hound with the following container

[code]

and the following setup:

[code]

Let me know how it goes for you.

[2017-05-03 17:50] hisapy commented on #157
Hello again,

Thanks for your comments guys. In my case I tried to upgrade my Chrome to 59 but I'm stuck at 58 and 58 doesn't have the headless mode. See https://developers.google.com/web/updates/2017/04/headless-chrome

Also, I think I wasn't getting localhost to work with the original chrome headless image I posted originally is because there wasn't actually nothing running at localhost inside t

[2017-05-03 18:00] hisapy commented on #156
My example is something like the following:

[code]

Anyway, I don't want to use PhantomJS anymore never so maybe if you can't reproduce this issue you can close it.

[2017-05-03 18:25] hisapy commented on #157
I moved my localStorage stuff to `on_exit` but now the browser can't find my login-form. I have a SPA built with React.

In the container output I see the following when a new session is started

[code]

It says `javascriptEnabled=false` ... Could that be the reason my React app is not working? How can I start a session with `javascriptEnabled=true`?

[2017-05-04 14:18] wstucco commented on #157
@hisapy

[code]

[2017-05-04 22:14] hisapy commented on #157
Hello again,

Finally, I got this working, but with some tweaks.

### 1.  Make your Phoenix/Elixir app with a host different than localhost.

This is needed when using any Docker based headless browser unless the app is also running inside the container. In other words, if there is nothing running at, for example, http://localhost:3001 inside the container, then you'll only get a blank page.

[cod

[2017-05-05 08:31] shankardevy commented on #153
make sure that your `test.exs` starts your web server by setting

[code]

[2017-05-05 08:37] dfalling commented on #153
Hi @shankardevy, thanks for the response!  I'm actually not using Hound to scrape my own server, but to scrape other servers (which I know are valid and active.)  Is there anything I could have missed that would make Hound return so little data?

[2017-05-05 10:02] darksheik commented on #157
I would think running chrome headless should eliminate the need to have Xvfb.  Do you have to first launch chrome --headless within the docker container and pick a --remote-debugging-port for selenium to connect to?

[2017-05-05 15:18] hisapy commented on #157
Hi @darksheik

As I mentioned, Xvfb is only needed if you need to `fill_field` which by the way is something needed in almost every project. I believe that this should be fixed in future releases of chrome.

This is all configured in the image. There is chrome_launcher copied to the image that includes the --headless and --disable-gpu but I don't know yet how does selenium automagically instantiat

[2017-05-05 16:31] wstucco commented on #157
@hisapy

yes there is: pass the parameters in the `chromeOptions` key of the capabilities

[code]

[2017-05-06 00:58] hisapy commented on #157
Thanks @wstucco

However, I have some more questions

1. What is the exact purpose of `--no-first-run` flag?

And regarding the [Dockerfile](https://github.com/yukinying/chrome-headless-browser-docker/blob/master/chromedriver/Dockerfile)

I renamed the file chrome_launcher.sh copied to **/opt/google/chrome/google-chrome** to google-chrome.OLD. Now, when I run the tests (without passing options fro

[2017-05-06 01:11] hisapy commented on #157
Just for the record,

When I'm running headless, this is what happens when trying to set the window size

[code]

Also, there are differences about in the error I get in Hound with and without `--headless`. For example, **without** `--headless` I get a more detailed and helpful errors:

[code]

But with `--headless` I get the error without the warning about the element causing the error:

[code]

[2017-05-06 10:45] tuvistavie commented on #153
I am not exactly sure why, but we do not seem to support omitting the scheme,
could you try changing `www.example.com` to `http://www.example.com` please?

[2017-05-06 16:01] wstucco commented on #157
@hisapy

it was an example on how to set chrome arguments, you don' really need `no-first-run`
you can find [here](http://peter.sh/experiments/chromium-command-line-switches/) a list of chromium command line switches

BTW you can set the binary that's called from the webdriver by setting the `binary` option in the capabilities map, like this

[code]

[2017-05-06 16:13] hisapy commented on #157
Awesome @wstucco ! ...

We should try to PR all the stuff you've shared so others can find them in the docs

Thank you

[2017-05-08 11:56] dfalling commented on #153
Adding the scheme doesn't have a noticeable effect for me.

Here's the phantomjs output:

[code]

Thanks for the help!

[2017-05-08 12:19] tuvistavie commented on #153
I could not reproduce with the same version of phantomjs.
Could you give this a try please?

https://github.com/tuvistavie/hound-tiny-example

I setup Docker to run both phantomjs and the example you gave, it outputs the HTML correctly for me.

[2017-05-08 12:38] dfalling commented on #153
That worked for me as well.  And then I noticed I didn't write out my changes when I added the scheme to my code.  Ooof.  Thanks so much for the help!

[2017-05-08 12:38] #153 closed

[2017-05-08 14:37] tuvistavie commented on #153
Great, thanks for the feedback! :smile:

[2017-05-11 03:57] taylorzr commented on #129
I ran into this recently, seems to be a bug in the latest versions of phantomjs/ghostdriver:
- https://github.com/ariya/phantomjs/issues/14228
- https://github.com/detro/ghostdriver/issues/365

As you mentioned, I was able to successfully set cookies using phantomjs 2.0.0, but got the same error as you with the latest 2.1.x.

I was also able to successfully set cookies using the other drivers, chr

[2017-05-12 13:01] elpddev opened #159 "File download"
I'm opening a new issue over #121 as it is closed without a definitive solution for my case.

I have a site when pressing a download button, the js do window.open(url, "new_window") which opens another window and then the returned response for the new window is a file download which trigger the browser file saving dialog. The driver I use is either chromedriver or selenium with firefox/chrome.

Is

[2017-05-12 20:06] taylorzr opened #160 "Add retries argument to element? ?"
The _element?_ method uses _find_all_elements_, but doesn't provide a way to pass the number of retries along. Is there any reason for _element?_ not taking retries as an argument?

I could potential create a PR to add this functionality. E.g.
`element?(:css, ".some-class", 42)`

Existing function signatures:
- `element?(Hound.Element.strategy, String.t) :: boolean`
- `find_all_elements(atom, Stri

[2017-05-13 13:37] tuvistavie commented on #160
There is no particular reason not to accept a retry number here,
so if you would like to send a PR for this, I will be glad to merge it.
Thank you :smiley:

[2017-05-13 14:03] tuvistavie commented on #159
What is the problem exactly when you try to download the file?
I got the following to work with chromedriver without any issue:

[code]

If the issue is that it is opening a file dialog, for chromedriver, you should be able to save the file directly without triggering the dialog by passing the following in chromeOptions:

[code]

let me know how this works for you.

[2017-05-30 07:48] arjan commented on #135
I don't really see how to pass these extra arguments to the chrome driver.
Reading the code, I see the only `args` that are given to chrome is the `--user-agent=` flag [here](https://github.com/HashNuke/hound/blob/master/lib/hound/browsers/chrome.ex#L9)..

[2017-05-30 09:06] tuvistavie commented on #135
We merge anything you pass in the `:driver` option

https://github.com/HashNuke/hound/blob/d269427310f2cb63a66e6d5024a4279681a4d0b4/lib/hound/session.ex#L46

[2017-05-30 18:53] arjan commented on #135
Ah, on the session level, thanks.

[2017-06-01 19:18] dezmathio commented on #157
how would one go about running this without using the Docker images? I don't have an internal app I'm testing either, so the ip/ports for the web app don't really apply in my case.

I tried the simple scenario @tuvistavie gave with the docker cfg and then just selenium+chrome in the config; but I always get connection refused.

Is this possible to just run with a chrome canary executable locally?

[2017-06-06 13:07] wstucco commented on #157
@dezmathio

As I mentioned [here](https://github.com/HashNuke/hound/issues/157#issuecomment-299649057)  you can set the binary by using the driver's capabilities options.

For Chrome

[code]

[2017-06-07 06:42] aptinio commented on #135
I got it to work using:

[code]

But I think this replaces the `"args"` set by `Hound.Browser.Chrome.user_agent_capabilities/1`. So I guess this is a more complete solution:

[code]

[2017-06-07 08:42] gliwka commented on #135
@tuvistavie Would you accept a pull request to make this a configuration option?

[2017-06-07 09:31] tuvistavie commented on #135
@gliwka Yes, a PR for this would be very welcome, thank you!

[2017-06-12 14:47] viniciussbs commented on #35
@HashNuke Could you share a gist with your Ember-related functions?

[2017-06-16 09:22] phanimahesh commented on #120
Looks like with Chrome and Firefox working on headless modes, PhantomJs is going to be discontinued. Is this issue still relevant?

[2017-06-19 20:52] rsjavier14 opened #165 "How to click on a link inside iframe"
Hello everyone.
I have a problem, I can not click inside an <iframe> tag. Any idea how to do it?
I am using bamboo for sending emails in phoenix frameword.
this is my config in test
[code]

This is the code generated to view emails, using Bamboo.LocalAdapter
[code]

[2017-06-19 21:15] darksheik commented on #165
Play around with these `Window` helpers:

[code]

[2017-06-19 21:24] rsjavier14 commented on #165
Thanks for your help. I now discover that it works with [focus_frame](https://hexdocs.pm/hound/Hound.Helpers.Window.html#focus_frame/1).
This issue can be closed.

[2017-06-21 10:51] waiting-for-dev opened #166 "No browser/javascript driver"
Hi there.

Have you think about the possibility to add something like a `ConnTest` driver to hound? This would not be an actual browser, therefore it would not support javascript. However, it would be faster and very useful for scenarios where javascript is not used. When javascript is needed, driver could be changed on-the-fly through a test tag.

In ruby world, [capybara](https://github.com/team

[2017-06-23 16:38] abderrahmaneayad opened #167 "Wait for the page to load"
I'm trying to scrape the products from Amazon with a simple code, and when I take a screenshot I've got this : https://ibb.co/nDmCf5

As you can see, I can't get after the 8th product, I tried waiting for so long using `sleep 120_000` but it still the same, I'm not sure what I have to do right now.

[2017-06-23 18:38] darksheik commented on #167
Waiting for something or many things on the page to be true is something I've had to do often.  I wrote a little `Retryer` module that has a couple of methods.

You pass in a list of functions that hopefully run quickly and retry them every few seconds until one of them returns a truthy value, and then it should continue on.

[code]

Example usage:
[code]

If one of the things you're looking for i

[2017-07-06 02:34] yyolf117 commented on #77
@vitalis -- what is chromedriver runtime config?

[2017-07-06 02:34] yyolf117 commented on #77
@vitalis -- what is chromedriver runtime config?

[2017-07-11 13:58] darksheik commented on #147
I believe this happened to me when I moved my `gettext` dependency from my child app to my top-level umbrella app.  Never saw the error until I did that.

The module only appears to be used for Error reporting within my app, but after I moved the dependency, I consistently got the OP's error message until I deleted the compiled beam file `Elixir.String.Chars.beam` as suggested above.

[2017-07-12 05:45] mbenatti opened #169 "sleep on page without losing focus"
Hello folks,
I have a code that navigate to the url and need to wait 5/10 seconds with **keeping focus on** to execute/validade some Javascript after...

The way I have found to sleep in a page without close the process is to use the `:timer.sleep\1`
but when I use `:timer.sleep\1`  the pages lose the Focus and **invalidate** by test case

note: The page has a counter, that count decreasing the ti

[2017-07-12 13:19] darksheik commented on #169
It seems unlikely that `:timer.sleep\1` is causing your problem.  Hound commands send API calls to your webdriver of choice to interact with the page, and `:timer.sleep\1` wouldn't do that.

Is there something specific that you're waiting to happen?  You might try repeatedly testing for that specific condition until it is true before proceeding.  You can send any Javascript you want with `ScriptEx

[2017-07-17 16:49] keown commented on #137
same here on travis with chrome_driver
maybe it's just an impression but seems to me that it doesn't really wait 60s.

[2017-07-18 09:26] pmontrasio opened #170 "chromedriver opens multiple tabs with the words in user agent"
When I run tests using chromedriver the browser opens multiple tabs and the last tab on the right is the one my tests are running on. The other tabs have names from the user-agent string passed as argument to chromium-browser. This is from the log file (I highlight the user agent)

[code]

[199.136][INFO]: Launching chrome: /home/me/bin/chromium-browser --disable-background-networking --disable-cl

[2017-07-18 12:41] pmontrasio commented on #170
I'm closing this one because the problem was with a bash script of mine wrapping chromium-broswer.
If I call chromium-browser directly it works.
What's strange is that mix test fails in different ways if my script calls chromium-browser like this

[code]

(the error I reported)

or like this

[code]

(timeout)

[2017-07-18 12:41] #170 closed

[2017-07-20 09:23] sn3p opened #171 "Create custom strategy types?"
We just released the first version of [test_selector](https://github.com/DefactoSoftware/test_selector), a set of helpers to set/get test selectors to to/from elements in a Phoenix app (when `env == :test`). These selectors are hashed (scoped to the view module) for accurate selection and "leakage" prevention. See our [Wiki](https://github.com/DefactoSoftware/test_selector/wiki) for examples. The

[2017-07-23 06:04] cdesch opened #172 "Gecko Support"
Will there be support for the [Gecko](https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette/WebDriver#Installing_Selenium) web driver? I can start working on this a bit, but I'm fairly new to working with webdrivers.

[2017-07-24 07:52] kylethebaker commented on #146
I'm running into the same issue and I'm able to reproduce on a clean phoenix application running phantomjs 2.1.1.

## Steps To Reproduce

### Clean phoenix setup
`mix phx.new testing_hound`

### In mix.deps
[code]

### In config/tests.ex
`config :hound, driver: "phantomjs"`

### In `test/testing_hound/web/acceptance/test_homepage.exs`
[code]

## Hound Output
[code]

## phantomjs Output
[code]
----

[2017-07-24 08:09] kylethebaker commented on #146
I've managed to reproduce without phoenix as well, which is quicker to get working, and I received the same outputs. I created a new mix project and set config.exs and my deps simliar to above and used the following test:

[code]

[2017-08-03 09:33] arathunku opened #173 "firefox_profile option is ignored"
Hi,

I'm trying to modify few firefox profile settings and it looks like it had been supported by https://github.com/HashNuke/hound/pull/94 but after metadata support landed, this option(`firefox_profile`) is now completly ignored and instead, hardcoded profile with ua agent is used( https://github.com/HashNuke/hound/blob/428403884dcb85e3103d5b4e94e35c5864b46c37/lib/hound/browser.ex#L20). There's

[2017-08-07 09:57] arathunku commented on #173
fixed via https://github.com/HashNuke/hound/pull/174

[2017-08-07 09:57] #173 closed

[2017-08-07 10:02] tuvistavie commented on #172
It should work with selenium for now. Geckodriver implements the webdriver protocol so it should be possible to allow direct communication with it without going through selenium.
If you want to give it a try, we are very open to pull requests.
Thank you.

[2017-08-07 10:14] tuvistavie commented on #173
I published a new patch version with your fix, thank you!

[2017-08-07 10:17] arathunku commented on #173
Great, thank you!

[2017-08-07 16:31] amokan commented on #157
Has anyone gotten chrome working using the `chromeOptions: [binary: "<path>"]` approach mentioned by @wstucco ? I'm not even seeing code in the library where it would utilize that argument.

[2017-08-07 16:39] dezmathio commented on #157
@amokan I couldn't get it to work with his suggestion

[2017-08-07 16:46] amokan commented on #157
Thanks @dezmathio - hopefully someone has more info on this or if this was removed at some point.

Below is the driver capabilities map I pieced together using the notes above - but like I said, I see no evidence in the source that the `binary` argument is supported - but i could just be missing something obvious.
[code]

[2017-08-07 16:58] wstucco commented on #157
@amokan @dezmathio

It's not an Hound capability, but a Chromedriver option.
Hound forwards all the arguments passed as `chromeOptions` to the underlying driver

You can see it [here](https://sites.google.com/a/chromium.org/chromedriver/capabilities#TOC-chromeOptions-object) - just look at the description of the `binary` param

[2017-08-10 11:49] blatyo commented on #137
I have the same problem on SauceLabs.

I believe this is the actual bit that fails: https://github.com/HashNuke/hound/blob/master/lib/hound/session.ex#L29

Is there a reason that there are no retries for this command?

[2017-08-15 02:50] wlminimal opened #175 "(RuntimeError) Webdriver call status code 404 for post request"
Hello.
I am testing in Phoenix.
using phantomjs --wd
and I ran tests, it shows this

[2017-08-21 05:26] onetapbeyond opened #177 "How to set viewport dimensions for take_screenshot?"
Is is possible to set/configure the dimensions for the browser viewport so `take_screenshot` captures the full content of the webpage rendered by `navigate_to`? Currently I'm seeing just a small 400*300 image being generated, which represents just a small part of the complete page content. I'm using the phantomjs driver.

[2017-08-24 17:47] Sitch opened #178 "Modular Functionality"
I was having an issue trying to split off some common functionality -- would love if someone could help out with an answer

[code]

[code]
What would happen is the `SignInHelper.sign_in/1` gets called but then the browser quits.
Seems like the session gets taken away when I use this kind of modular style for writing the tests.  Maybe someone can help out?

[2017-08-29 09:43] keown opened #179 "file upload"
Hi,
Is there anyone who has successfully written a test that interacts with file upload windows? Of course, I can open the dialog but when I try to select the file with `send_text (filename)`, nothing seems to happen on the dialog. I've also tried to use `Hound.Helpers.Dialog` without success. Any tips?

[2017-08-29 09:47] keown commented on #139
hi @hchan-enbala, this is not strictly related to your question but how did you manage to select the file once the dialog is open?

[2017-09-01 06:02] MikaAK opened #180 "When navigating to a page that has a ! it gets converted into a ?"
I came across a case tonight where navigating to a page with a `!` in it would cause the navigation to go to a ? instead. The url was `https://site.com/PIKACHU!-1392` and it would change it `https://site.com/PIKACHU?-1392`. However what it should do probably is attempt to encode this or something. What I did as a workaround was to encode `PIKACHU!-1392` with `URI.encode` which then worked.

[2017-09-05 11:32] MikaAK commented on #135
I'm unable to get this working, I would happy to create a PR if someone could point me how to actually enable this. I'm on chrome 60 and trying to use chrome_driver.  I've tried calling
[code]

but this doesn't seem to work

[2017-09-05 12:42] arathunku commented on #135
@MikaAK recently I had similar problem and I've submitted: https://github.com/HashNuke/hound/pull/174

Try:
[code]

[2017-09-05 12:47] darksheik commented on #135
@MikaAK Also ensure that your ChromeDriver version is up to date.
I have it working on:
```ChromeDriver 2.29.461585 (0be2cd95f834e9ee7c46bcc7cf405b483f5ae83b)```

[2017-09-05 12:48] darksheik commented on #135
My params look like this, btw...
[code]

[2017-09-05 13:20] blatyo commented on #137
Maybe what people are experiencing here is a hackney timeout rather than the GenServer call. You can configure the hackney timeouts with:

`config :hound, http: [recv_timeout: 60000, connect_timeout: 60000]`

These get included at compile time for hound, so you may need to clean and recompile hound for them to pick up.

[2017-09-06 04:14] tuvistavie commented on #180
Hi, thanks for reporting.
What driver/browser are you using?
I tried with phantomjs and chrome but could not reproduce.

[2017-09-06 04:23] tuvistavie commented on #175
Hi, thanks for reporting.

I could not reproduce, what version of Phantomjs are you using?
Could you please give a minimal example to reproduce?

Here is the example I tried:

[code]

[2017-09-06 04:28] tuvistavie commented on #177
Hi, did you try something like this?

[code]

[2017-09-06 04:31] tuvistavie commented on #171
Hi, thanks for the proposal and sorry for the delay.
I agree custom strategies could be helpful, but I do not have time to take care of it right now. If you would like to try implementing it, please feel free to send a PR.
Thank you very much.

[2017-09-08 11:56] RODJER200586 commented on #179
Add two functions

[code]
Next
[code]
Create pull request https://github.com/HashNuke/hound/pull/181/files

[2017-09-08 19:50] tmepple commented on #135
Had several hours of difficulty with this one but finally got it working thanks to pointers by @aptinio and the recently merged PR by @arathunku.

Difference I faced was I wanted to use the Ecto sandbox in addition to headless Chrome.  Following this documentation https://github.com/phoenixframework/phoenix_ecto#concurrent-browser-tests I attempted this:

[code]
The problem is setting `args` in th

[2017-09-13 01:20] ijunaid8989 opened #183 "navigate_to giving empty %{}"
my deps are
[code]

And I have started the phantomjs webdirver as

[code]

In config file
[code]

and my module is
[code]

My issue is: When I do any navigation, I am getting empty map, `%{}`
for example, if I do navigate_to("https:github.com") still %{}, what is the issue here?

[2017-09-21 22:12] svb70 opened #184 "selenium hub configuration issue"
given config.exs contains,

`config :hound, driver: "chrome_driver", host: "http://localhost/wd/hub" , port: 32768`

when I execute NavigationTests.fetch_ip,
`defmodule NavigationTests do

    use Hound.Helpers

    def fetch_ip do
        Hound.start_session

        navigate_to "http://google.com"

        IO.inspect page_source()

        Hound.end_session
    end
end`

I receive error,
`iex(1)

[2017-09-22 00:06] tuvistavie commented on #184
This is a bug. We should probably change`host` to be only `localhost`, but that would break backward compatibility so let's support prefix paths in `host` for now.

[2017-09-22 00:47] tuvistavie commented on #184
Sorry, after double checking I realized that the case was already handled.
The configuration should be:

[code]

Please let me know if this works for you.

[2017-09-22 00:47] #184 closed

[2017-09-22 00:48] tuvistavie commented on #183
Hi, what version of Phantomjs are you using?

[2017-09-22 12:47] svb70 commented on #184
that works great. thanks!

[2017-09-26 13:21] Jojoooo1 commented on #146
Having exactly the same issue than @kylethebaker

[2017-09-29 07:20] arfl commented on #147
We have the same issue and also an Umbrella Project.

[2017-10-03 16:22] vijit13 commented on #135
Is there a setting to restrict all the images from loading?

[2017-10-04 06:20] MikaAK commented on #180
Just using phantomjs driver

On Tue, Sep 5, 2017, 9:14 PM Daniel Perez, <notifications@github.com> wrote:

[2017-10-08 13:25] Ivor opened #186 "ScrollTo & Click to click element below "the fold"."
Hound 1.0.4
ChromeDriver 2.32.498537
Elixir 1.5.1

We have a suite of tests that ran fine until I got a new smaller laptop and they suddenly started failing. I eventually figured out it is because the new laptop has a smaller screen resolution and the button was below the fold, resulting in the "Element not clickable at (x,y)" warning and subsequent checks failing.

I ended up with this little hel

[2017-10-14 08:59] jan0991 commented on #137
Thanks to the comment from @blatyo I made it work.
[code]

And then `mix deps.compile hound --force`

[2017-10-16 14:17] Kukunin commented on #183
I have the same issue. My phantomjs 2.1.1

[2017-10-16 14:55] Kukunin commented on #183
Was able to fix this issue. Hound doesn't run the server automatically, and if there is no server running, phantomjs returns 'about:blank'. Setting `server: true` in `config/test.exs` made phoenix starting the server on every `mix test` that fixed the problem.

[2017-10-21 07:45] kkweon commented on #175
The code snippet was from the book: [Mastering Phoenix](https://shankardevy.com/phoenix-book/)
I was also stuck at the same page and googling led me here, :smile:

Anyway,  the problem occurs when the `phantomjs` is installed through `apt-get`.
Installing the latest `phantomjs` from the [official page](http://phantomjs.org/download.html) fixed the issue.

This issue can be closed.

[2017-10-22 09:41] MikaAK commented on #135
Even with using `browser: "chrome_headless"` and `driver: "chromedriver"` it doesn't work 😢 I'm on chromedriver 2.33.506106. I'm still not sure what's going on here

[2017-11-13 22:38] max-cinch commented on #137
If you need to adjust Hound's genserver timeout value, https://github.com/HashNuke/hound/commit/a98f69987b9e62ec1660c52d191d0eca51ba4010 was merged a week ago. (It seems it is not yet on hex)
You can add hound genserver timeout like this:
`genserver_timeout: 480000`

[2017-11-25 00:00] vjorjo commented on #159
And how do you use chromeOptions??
For example this:

[code]
and many other combinations I tried the last 10 hours don't work.
Accurate and thorough documentation about these options is absent.
Actually, I wasn't able to find any mention about these, except in some discussed issues.

Any help would be greatly appreciated.

[2017-11-25 00:51] vjorjo commented on #159
@tuvistavie
I found it. It is something like this:

[code]

[2017-11-29 10:22] stefanjarina commented on #177
Did just try it and it seems that width works, but then height is ignored and if page is long enough, it takes screenshot where height is different for every page.

PhantomJS supports it, but it is not set by viewport, but by separate method
[code]

So it seems like this has to be implemented explicitly in Hound for it to work.

[2017-12-16 14:49] erneestoc opened #194 "Keyboard Event"
Is there a way to send keystroke event without sending a js script?

[2017-12-16 14:54] erneestoc commented on #194
My bad..
https://github.com/HashNuke/hound/blob/4e20a656c575f72532d5751c41dc4cac1d4e248e/lib/hound/helpers/page.ex
https://github.com/HashNuke/hound/blob/6bdf66f2a2d65b6ec554bef8c25c6794156be877/lib/hound/internal_helpers.ex#L27

[2017-12-16 14:54] #194 closed

[2017-12-22 14:27] marcdel opened #196 "Override default directory for (or pass dir to) take_screenshot/1"
It would be nice to have a little more control over where screenshots get written. There are two options I'd like to have (either or both would be great):

1. Set a default directory location in the config
2. Pass a directory to `take_screenshot/1`

Both of these would ideally retain the existing name generation feature `screenshot-#{year}-#{month}-#{day}-#{hour}-#{minutes}-#{seconds}.png`.

I'm h

[2017-12-27 12:08] tuvistavie commented on #196
Hi,
Someone started to work on this functionality but we were missing tests and the PR is still pending: https://github.com/HashNuke/hound/pull/163
If you would like to give it a try, I would be glad to merge it.
Thank you very much.

[2017-12-28 00:24] marcdel commented on #196
Sure, happy to pick up where they left off. Is it easiest if I just submit it as a new PR (I don't know if there's another option tbh)?

[2017-12-28 00:49] marcdel commented on #196
@tuvistavie are there other methods that could make use of `:temp_dir`? If not, it might be clearer to use `:screenshot_dir` or something to make it more explicit that this value will change where screenshots are stored. Thanks!

[2017-12-30 18:11] josuehenrique opened #198 "How can I change the phantomjs viewportSize?"
I find somthing like it

[code]

[2018-01-11 17:47] JoeMarion opened #200 "Multiple Hound sessions with a separate proxy for each one?"
Is it possible to run Hound in production and run a proxy for each session that is created?

[2018-01-12 16:16] Grantimus9 opened #201 "Using Firefox Profile"
Hello,

I'm attempting to use a custom Firefox Profile (to specify proxy settings), and having trouble understanding how I should implement this. I'm using the default selenium-server, here's my config.exs:

[code]

Should I be using `make_capabilities` in the [browser](https://github.com/HashNuke/hound/blob/master/lib/hound/browser.ex) module?

Should I be building a Firefox Browser in [Hound.Bro

[2018-01-18 22:50] yithanglee commented on #183
yeah, im having issues navigating to these https sites.
There's no problem with http sites.

[2018-01-19 00:44] onelesd opened #202 "How to use custom ResponseParser?"
The warning below is printed when an element is found on the page and is visible, but it's position shifts due to a changing DOM before the click() is executed.

[code]

[code]
No exception is raised (unlike a click() of an element that is not visible, which raises "element is not visible"), so there is no way to catch this error and try again.

A kludge is to sample the element's location N times

[2018-01-19 18:25] JoeMarion commented on #200
Okay, so I think I figured it out. I am using PhantomJS and they have ways to dynamically set the IP address.

[2018-01-20 00:02] onelesd commented on #202
I see that warning?/1 is defoverridable in Hound.ResponseParser, which I would have raise the exception. It seems to be hard-coded based on the selected driver here: https://github.com/HashNuke/hound/blob/7b3ff5585a8493417788e0d942e6e2cf5c300cae/lib/hound/request_utils.ex#L61-L73

 How do I set a custom ResponseParser?

[2018-01-27 11:25] dbesserman opened #203 "(RuntimeError) could not create a new session: econnrefused, check webdriver is running"
I'm trying to setup hound on a phoenix app. I followed the instructions in the `README.md`. Yet I can't get a smoke test to fail properly. It fails but not with the error I'm expecting. I'd like it to fail because there is no `Hello, World!` appearing yet whereas it fails because the webdriver does not seem to be running.

Here is the test which is located in `test/smoke_test.ex`:

[code]

and her

[2018-01-27 13:40] dbesserman commented on #203
I had to start `phantomjs` in `web driver mode`
[code]

[2018-01-27 13:40] #203 closed

[2018-01-30 06:34] fantypants commented on #159
Has anyone got this to work with headless yet? have tried every single suggestion so far

[2018-01-30 16:42] tuvistavie commented on #202
Hi, sorry for the delay.
The current implementation does not allow to set a custom parser. If you would like to send a PR to implement this, you are very welcome.
Thank you.

[2018-01-30 16:43] tuvistavie commented on #183
Could you provide more information please? I am not able to reproduce the issue.

[2018-01-30 16:44] tuvistavie commented on #200
Sorry for the delay.
Did you manage to get what you wanted?

[2018-02-01 20:05] thelightcosine opened #204 "Retrieve DevTools port from ChromeDriver session"
Currently when starting a new session the chrome instance is spawned with the remote-debugging-port set to a random high port. There is no way, aside from searching through ChromeDriver logs, to retrieve what port was passed to DevTools. I need to be able to tell an external 3rd party program how to talk to the Chrome session hound has opened.

[2018-02-06 02:29] fantypants commented on #204
You can set --verbose with the driver, but you can also use --remote-debugging-port=xxxx, but i couldn't get it to talk between the driver and hound when i did that.

[2018-02-06 02:30] fantypants opened #205 "Enable Downloads for headless Chromedriver"
Has anyone made progress with this? I've ported the settings that have apparently worked with ruby, but still no luck, the driver logs shows alot more activity in the non-headless mode when you do try and download then the headless.

[2018-02-19 15:17] jvoegele opened #208 "navigate_to sometimes fails with timeout error"
We are using Hound with chrome_driver, and many of our feature tests fail due to calls to `navigate_to` returning `{:error, :timeout}`.

By watching the Chrome window that Hound is driving, I can see that the `navigate_to` calls are actually resulting in the correct page being loaded in the browser, but it seems that Hound is not receiving a response (from either Hackney or ChromeDriver) indicatin

[2018-02-20 16:39] thelightcosine commented on #204
If you pass the --remote-debugging-port option the whole thing just hangs and Hound craps out. I'm fine with the randomly selected port, but I need a way to programmatically access what that port is.

[2018-02-28 16:13] ihorkatkov opened #209 "Upload multiple files"
Hey guys. I developed function for multiple file upload. Would be great if simillar feature would be added.
[code]

[2018-03-04 22:09] mbenatti commented on #183
same here with https sites

[2018-03-04 23:11] mbenatti commented on #183
Simple test:
[code]
Output
[code]
Mix.lock
[code]
Elixir 1.6.1
Erlang 20.2
Phantomjs 2.1.1

[2018-03-30 03:40] mbenatti commented on #183
Just to update this,
I solved changing phantomjs driver to chromedriver

[2018-04-04 16:08] DeLongShot opened #211 "Wait For Asynchronous Text Changes"
The current matchers `visible_in_page?/1` and `visible_in_element?/2` currently immediately return the body/element if it is found.  It will then try to immediately match the `pattern` against the body/element.

**Problem:**
If you are making an asynchronous change to the text within the body of the page or element, a race condition exists where those methods may return the body/element before the

[2018-04-04 17:46] acrogenesis opened #212 "Check if javascript alert is open"
Can't find on the documentation a function to check if an alert is open, if I try to dismiss and it's not present  it crashes
[code]

[2018-04-04 17:48] acrogenesis commented on #212
This is what I came up with, but don't know if there's a better way.
[code]

[2018-04-09 13:02] denispeplin commented on #175
I was having same issue. After I've removed a package from official repository and downloaded it from official download page, issue got fixed. Both versions are same, `2.1.1`. OS is `Ubuntu 16.04.4 LTS`, 64 bit.

[2018-04-17 20:24] GregoryCBT opened #213 "Error when using find_element() in Firefox"
Getting an error whenever I try and run the find_element() function in my tests. All of these tests work fine in Chrome, but once I run them in Firefox they always fail at the first find_element(). This happens regardless of what selector I'm using to find the element. This is the error that gets displayed when the issue happens:

`** (Hound.Error) could not get element {:name, "login"}: %{"elemen

[2018-04-21 08:33] silentist opened #214 "find_all_within_element with :xpath strategy return elements outside the parent element"
<select name="items">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<select name="items">
  <option>D</option>
  <option>E</option>
  <option>F</option>
</select>

with the above html,
Hound.Helpers.Page.find_all_elements(:xpath, ~s|//select[@name="subtitles"]|)
|> Enum.at(1)
|> Hound.Helpers.Page.find_all_within_element(:xpath, ~s|//option|)
will return all A, B, C, D,

[2018-05-10 19:27] snewcomer opened #216 "Adding to Wiki - Starting a webdriver server"
I think it might be helpful to show how to start a webdriver server on linux as well.  What are your thoughts?

https://github.com/HashNuke/hound/wiki/Starting-a-webdriver-server

[2018-06-01 22:35] nelson687 opened #217 "retry_time in config.exs only works after recompiling"
I'm not sure if it's only on my environment, but I want to increase the time with retries by doing this
`config :hound, retry_time: 1000` in config.exs, but it doesn't seem to get the change. Ran `MIX_ENV=dev mix deps.compile` but still didn't work, then found a weird combination. If I insert a change on `request_utils.ex` (a file from hound) for example IO.puts and then recompile using `MIX_ENV=d

[2018-06-05 05:55] feymartynov commented on #213
Same for me.

macos 10.13.5
selenium-server-standalone 3.11.0 from homebrew
firefox 60.0.1
hound 1.0.4

[2018-06-10 13:52] nelson687 commented on #55
I'm doing exactly the same but getting a different error:
[code]

[2018-06-25 03:38] lowks opened #218 "Getting connection refused."
I am trying to setup hound to run for my project. In `mix.exs` I added the dependencies:

`{:hound, "~> 1.0"}`

My `config/test.exs` looks like this:

`+config :hound, driver: "phantomjs"`

My test looks like this:

[code]

The error I get:

[code]

My `test_helper.exs`

[code]

I run `phantomjs` in another session by issuing the command `phantomjs --wd`

Can someone let me know what I am missing

[2018-06-28 10:00] tchoutri opened #219 "Unable to create new service: GeckoDriverService"
Hi @HashNuke! I'm using Hound with these settings:

[code]

However, I've got this error when I call `Hound.start_session/0`:

[code]

I have installed Firefox 60.0.1 and Selenium version 3.13.0.
Here is the Selenium log:

[code]

Am I missing something obvious?

[2018-06-28 13:35] tchoutri commented on #219
Okay, the obvious thing was to install [GeckoDriver](https://github.com/mozilla/geckodriver/releases) first. Once it's in the PATH everything works.

[2018-06-28 13:35] #219 closed

[2018-07-02 22:29] garretttaco commented on #208
@jvoegele I am having the same issue. Did you happen to make any headway on solving this issue?

[2018-07-18 18:22] paulstatezny commented on #135
Using @arathunku's suggestion above, we were able to get headless Chrome working. (Slightly modified like this:)

[code]

[2018-07-19 00:34] #213 closed

[2018-08-29 12:05] yunixon commented on #218
same here (macOS High Sierra) with chrome driver:

[code]

[code]

[2018-09-12 10:15] jackingest opened #222 "How to configure for firefox driver"
Failed to configure for running with firefox, tried to configure the config.exs

1. config: hound, driver: "selenium"
2. config: hound, browser: "firefox"

Both above configuration, have tried with launching the selenium standalone server or geckodriver before running the test, both failed to launch the firefox browser (v61).

Didn't find any instruction on that, so anyone can help with that?

[2018-09-13 07:46] jackingest opened #223 "Doesn't have function to handle alerts"
Needs functions to handle alerts, like the functions to handle javascripts didalogs.

[2018-09-14 03:29] jackingest commented on #222
Solved with specifying the driver

[2018-09-14 03:29] #222 closed

[2018-10-11 11:57] AndrewDryga opened #224 "Adopt Jason"
Hi there,

There is a new standard library in Elixir community for JSON encoding/decoding - Jason. Currently, it's already adopted by all major packages and hound is the only one that we use and it still relies on old Poison version.

Can you adopt Jason and bump hackney by any chance?

[2018-10-19 00:53] CaioPenhalver commented on #218
I'm having the same problem here. I mean I'm not pretty sure if it's a issue or if it's the way that supposed to be!

[2018-10-23 17:53] onelesd commented on #218
Have you tried configuring the webdriver port?

[code]
[code]

[2018-11-05 20:08] Kukunin commented on #200
I solved this task for Chrome with 3rd party extension, such as https://chrome.google.com/webstore/detail/proxy-auto-auth/ggmdpepbjljkkkdaklfihhngmmgmpggp?hl=en

You can attach extensions to a chrome session using:

[code]

`load_extension` function converts "*.crx" file to base64-encoded string.

Then you need to visit the extension's configuration page and set login/password there. Then you can

[2018-11-05 21:21] Kukunin opened #225 "Hound make chromedriver crash"
A simple snippet

[code]

it crashes with

[code]

because `active_sessions()` returns `{:error, :closed}`

crashes the latest chromedriver 2.43 on macOS. Does someone have a similar behavior?
I use the latest `hound` from master branch.

Log:

<details>

[code]

</details>

[2018-11-05 21:26] Kukunin opened #226 "Any API function can return {:error, :closed}"
When web driver closes a connection (because of a crash or something similar), Hound might return `{:error, :closed}` literally from every helper function.

It's pretty dangerous since it's pretty unexpected, and it can feed wrong data further into an application.

One example is that `Hound.Session.active_sessions() |> Enum.count` crashes with `(Protocol.UndefinedError) protocol Enumerable not im

[2018-12-06 15:16] #224 closed

[2018-12-13 19:05] JohnKacz opened #228 ""catch" should always come after "rescue" in try [Question]"
Not a big issue and simple to fix, but I wanted to create an issue partly to better understand why both `catch` and `rescue` are needed. I'm assuming because `send_req/4` can "fail" in a lot of different ways?

Compiling gives a warning
[code]
https://github.com/HashNuke/hound/blob/0613a33f065a1eaa91fab602b8bc9af367d78ec1/lib/hound/request_utils.ex#L9-L18

Elixir 1.7.4

[2018-12-20 06:01] mguilmineau opened #230 "anonymous functions in execute_script"
Greetings, just so you know I was running (in chromium's latest) execute_script with an anonymous function in it that referenced arguments, as such:
execute_script( "const e=arguments[0], i=(function(s){ val = arguments[1] ; ... })(e) ; ...,  [ arg0, arg1] )
Turns out that while e is properly defined as taking the value of arg0, once inside the anonymous function arguments is equals to [e] i.e. wh

[2018-12-20 13:36] nietaki opened #231 "Fix broken source links from hexdocs"
Currently the docs generate links based on a specific version/tag of the source, instead of `master`.

For example https://hexdocs.pm/hound/Hound.Helpers.Element.html#inner_text/1 links to https://github.com/HashNuke/hound/blob/1.0.4/lib/hound/helpers/element.ex#L31

The problem with that is, the recent releases either aren't tagged, or are tagged with `vx.x.x` instead of just `x.x.x`.

One soluti

[2018-12-29 14:32] Qqwy opened #232 "Hound + Selenium/Firefox does not work with `find_element`"
When running Hound with Selenium, using Firefox as browser, `find_element` and related functions do not work. Hound has problems parsing the return value if the element is found.

For instance, you get errors like this:

[code]

Firefox version 63.0.3 (64-bit), Selenium server version: 3.14.0, revision: aacccce0.

[2019-01-09 10:03] thbar commented on #225
I am seeing something similar. In more details, if you do this:

[code]

You will get `{:error, :closed}` printed, but most importantly, Chromedriver will have crashed:

[code]

So I wonder if this may be an issue in Chromedriver itself, rather than hound.

[2019-01-09 12:01] Kukunin commented on #225
From my experience, that's chromedriver fault, its pretty unstable on Mac. The same code running on Linux works well. Hound doesn't send something special to chromedriver

[2019-01-09 22:57] marekciupak commented on #135
Same here. `chrome_headless` in this config:
[code]
does not have any effect. I'm using ChromeDriver 2.41.578706.

[2019-01-16 10:51] hubertlepicki commented on #232
I confirm I have the same error, also present on wallaby

[2019-01-16 14:37] thbar opened #233 "set_cookie error with ChromeDriver"
Using `hound` master version and ChromeDriver 2.45.615355, if I serialise a cookie during a session, then I deserialise it to call `set_cookie`, I get the following error:

[code]

The `chromedriver --verbose` logs shows:

[code]

For the record, here is the code I'm using:

[code]

I'm not sure exactly if this is caused by ChromeDriver itself, or the way `hound` implements `add-cookie` (W3C spec:

[2019-01-23 14:01] hubertlepicki commented on #232
This seems to be resoled on master.

[2019-02-05 07:10] krystofbe opened #234 "release a new version? is this package still maintained?"
The latest version on hex.pm is `1.0.4 August 7, 2017 `
https://hex.pm/packages/hound

Would you release a new version containing all new changes on the `master` branch?

[2019-02-19 01:19] alessandrousseglioviretta commented on #135
The latest changes haven't been packaged yet, to use the master: in `mix.exs` use: `{:hound, git: "git@github.com:HashNuke/hound.git"}` and in `config.exs` use `config :hound, driver: "chrome_driver", browser: "chrome_headless"`

[2019-02-20 06:04] abhishekbose87 commented on #208
Hey guys !! Were you able to figure out a solution for this error ?

[2019-02-20 12:49] jvoegele commented on #208
No luck here. Our feature tests continue to fail due to this error, so we have just disabled them for the time being.

[2019-02-22 21:00] chrislaskey commented on #147
Confirming this is still an issue in umbrella projects and that @marcelotto's solution works as a temporary solution.

[2019-03-13 18:52] danhper commented on #234
Sorry for the delay.
I indeed did not have time to maintain this for a while now.
Very sorry for the trouble.
I will wait to merge the latest PR and release a new version.

[2019-03-20 18:14] danhper commented on #234
Just released version 1.1.0

[2019-03-20 18:14] #234 closed

[2019-03-20 20:23] danhper commented on #231
Thanks for catching this. This should now be fixed for the latest release.

[2019-03-20 20:23] #231 closed

[2019-03-20 21:52] danhper commented on #228
Thanks for reporting. This should be fixed in the latest version.

[2019-03-20 21:52] #228 closed

[2019-04-11 07:31] Qqwy commented on #232
@hubertlepicki Thank you for the PSA! :slightly_smiling_face:

[2019-04-23 10:08] schnittchen opened #238 "Can "other element would receive the click" become an error?"
I'm seeing this:

`10:04:35.621 [warn] unknown error: Element <button class="js-button" style="">...</button> is not clickable at point (163, 275). Other element would receive the click:`

I cannot imagine a situation where this should not be considered a failure of the test, but I might be wrong.

Would it be possible to treat this condition as an error (potentially behind a switch)?

[2019-05-23 03:33] edwinthinks opened #239 "(RuntimeError) invalid session id when running on alpine"
Hello,

I'am attempting to install chromedriver for hound e2e tests on top of https://github.com/bitwalker/alpine-elixir-phoenix by adding:
[code]

However, I'am getting this error when trying to run this in CI.

[code]

I'am not entirely sure what this means or what the issue could be.

Thanks! Any assistance would be greatly appreciated!

[2019-06-09 15:01] mimimalizam commented on #239
Hi @edwinthinks,

I experienced the same error locally in earlier today and installing google-chrome-stable helped in my case. Thought to share it in case it might help someone else. (I use Vagrant with Ubuntu 18).

[2019-06-11 17:17] bertdivvy commented on #159
`  def chrome_headless_session(metadata) do
    {:ok, cwd} = File.cwd()
    downloads_path = Path.join(cwd, "test_downloads")
    Hound.start_session(
      additional_capabilities: %{
        chromeOptions: %{
          "args" => [
            "--user-agent=#{:chrome |> Browser.user_agent() |> Metadata.append(metadata)}",
            "--headless",
            "--disable-gpu"
          ],

[2019-08-05 15:31] ImmortalDragonm opened #241 "Change driver in start_session"
In confix.mix I set default driver to phantomjs
`config :hound, driver: "phantomjs"`
but in some tests I want to use chrome_driver.
How to do it?
`start_session %{browser: "chrome_driver"}`
don't work, it's for browser only, not for driver
`start_session %{driver: %{browserName: "chrome_driver"}}`
don't work too.

[2019-08-06 07:39] wolfiton opened #242 "Problem with acceptance test in hound not starting server on port 4001 in phoenix"
Hello everyone,

I have a problem in using hound to create a simple acceptance test following this https://shankardevy.com/phoenix-inside-out-mpf/#setting-up-hound 1

Even thought i followed all the instructions I am getting a failure:

mango  mix test ./test/mango_web/acceptance/homepage_test.exs\

  1) test presence of featured products (MangoWeb.HomepageTest)
     test/mango_web/acceptance/home

[2019-08-06 16:47] maryolivier opened #243 "Could not transform value %{"element-6066-11e4-a52e-4f735466cecf" => "d2c5deba-fdff-48db-b319-694aa6542c81"} to element"
## Background
Using the latest Chrome 76.0.3809.87 and ChromeDriver 76.0.3809.68 with the latest Selenium 3.141.59. I can do things like `navigate_to()` and `visible_in_page?()` but cannot interact with the elements on the page, due to the error. I did some comparison between the applied additional_capabilities using the latest selenium version vs. the version that works for me (2.49; anything abo

[2019-08-07 11:34] wolfiton commented on #242
Solve the problem using the following

If anyone needs a solution to this problem follow the steps:

I assume also that you installed phantomjs using sudo apt-get install phantomjs already in Ubuntu

If you did not then don;t use step 1 the following steps are applicable

Step 1 `sudo apt-get remove --purge phantomjs` This command will remove phantomjs and all it’s configuration files in one go(yo

[2019-08-07 11:34] #242 closed

[2019-08-07 11:35] wolfiton commented on #242
Solved, don;t use sudo apt-get install phantomjs in Ubuntu install using my method from step 2 forward

[2019-08-07 21:00] maryolivier opened #244 "Support w3c for latest chrome / chromedriver releases"
## Background
As of now, I need to disable w3c mode within my passed in chromeOptions in order to avoid errors that occur when I use `.send_keys()`. It seems that the latest versions of chrome/chromedriver do not support selenium command sendKeysToActiveElement. I'm not sure exactly what needs to be done to fix this, but if someone gives me a trail to follow I'll submit a PR.

## Workaround
(not s

[2019-08-07 21:00] maryolivier commented on #243
this seems to be fixed in the latest code from master, so I will close this.

[2019-08-07 21:00] #243 closed

[2019-08-07 21:27] maryolivier commented on #244
My thought is to make a new method called send_keys_to_element and leave the old method available until it's no longer needed at all.

[2019-08-07 21:34] pdgonzalez872 commented on #239
Having a similar issue, macOS Mojave.

@edwinthinks have you solved this?

@mimimalizam. How did you install `google-chrome-stable`? Any difference in the workflow? If so, could you please post them here?

Thank you!

[2019-08-08 02:56] edwinthinks commented on #239
@pdgonzalez872 hey there; I didn't end up getting any solution :( I haven't had much time with using hound lately and left it as is. Hope you find a solution :)!

[2019-08-17 21:44] formido commented on #239
You may want to load hound as a local dependency and put some `IO.puts` on the requests and responses. I was getting the same error message as you, and when hound made a call to `http://localhost:9515/session` the result was:

[code]

I didn't investigate further, but you can see that there's a `sessionId` that hound probably tries to use again, but according to the embedded message it's not valid

[2019-08-17 21:46] pdgonzalez872 commented on #239
Turns out that you need the version of Chrome to be the same as the version of Chromedriver. That solved our problem.

[2019-09-08 13:35] lessless commented on #175
I have same problem:

[code]

my `docker-compose.yml`:

[code]

[2019-09-20 21:48] pdgonzalez872 commented on #239
Can we close this issue @edwinthinks?

[2019-09-21 07:11] fahrinh commented on #159
By default, file downloading in headless mode (Chrome, in this case) is prohibited.
Try this workaround to enable it:

https://fahrinh.github.io/post/2019-09-16-file-downloading-in-headless-chrome-using-chromedriver-and-hound/

[2019-09-22 07:40] fahrinh commented on #205
https://fahrinh.github.io/post/2019-09-16-file-downloading-in-headless-chrome-using-chromedriver-and-hound/

[2019-09-22 15:06] garj opened #246 "Using hound on Heroku"
I deployed a Phoenix app that is using Hound with chrome driver to Heroku. I've also added the following chrome and chrome driver buildpacks to my Heroku app

- https://github.com/heroku/heroku-buildpack-google-chrome
- https://github.com/heroku/heroku-buildpack-chromedriver

my config.exs is as following:

# Configure Hound
config :hound, driver: "chrome_driver"

These steps however does not seem

[2019-09-28 17:24] edwinthinks commented on #239
@pdgonzalez872 sure although I haven't been actively working with hound. If its reported working I can close this and only reopen if there is still an issue. Thanks @pdgonzalez872 !

[2019-09-28 17:24] #239 closed

[2019-10-11 12:10] Sebisnow commented on #239
I have the same problem collecting performance metrics from a company-internal website.
I do not have the problem with the first session, that works perfectly, but if I try to asynchronously start another session I get the following error and both sessions crash (Browser windows open and the first session already navigated to the website):

[code]
Both chromedriver and chromium have the same versi

[2019-10-11 14:44] ilgarm commented on #243
hi, any plans when a released version with this fix will appear in hex?

[2020-01-07 21:32] building39 commented on #186
I am having the same problem, but this solution doesn't seem to work for me. Would love to see a native solution.

[2020-01-20 18:31] JGjumpshot commented on #218
I have this issue with chromedriver any recommendations?

[2020-01-22 16:15] JGjumpshot commented on #211
Would I put these private functions above any of my test cases and call them down in the actual test? I struggled to implement the above solution.

[2020-01-27 11:22] Ivor commented on #186
I've been using the `scroll_click` ever since without any issues.

[2020-01-28 05:17] jaydorsey commented on #218
@JGjumpshot I may be remembering incorrectly, but I think chromedriver (thru homebrew) used to be managed thru `brew services` (and may have started automatically even?), but that appears to have changed so you probably manually need to start it.

You may need to configure the port, per the earlier comment, and _start_ the chromedriver with `chromedriver` (assuming it's on your path). When you sta

[2020-01-28 14:10] Anonyfox commented on #246
any update on this?

[2020-02-04 03:43] mbenatti commented on #246
Yes, add
https://github.com/heroku/heroku-buildpack-chromedriver
and
https://github.com/heroku/heroku-buildpack-google-chrome

and start chrome driver "/app/.chromedriver/bin/chromedriver"

[2020-02-06 21:31] mdarby commented on #147
Same as above; private umbrella app. Running `mix clean` solved the issue for me.

[2020-02-23 23:00] NikitaAvvakumov commented on #186
I couldn't use @Ivor's solution because on some of my app's pages scrolling happens within flexbox elements via `overflow-y: scroll;` rather than through native browser window scrolling.

Perhaps it's still possible to use JS to scroll within flexboxes, but instead I've been setting the window size prior to executing clicks. I have a `MyApp.AcceptanceCase` defined that gets `use`d by individual te

[2020-03-17 21:55] pmontrasio opened #247 "Incomplete list of keys in the documentation of set_keys"
The documentation starting at https://github.com/HashNuke/hound/blob/e10c8723bcdcf3c64b0f21892bd61b98eb6ff0c9/lib/hound/helpers/page.ex#L229 doesn't list all the keys supported by `set_keys/1`

I was looking for a way to send the right and left arrow keys to the browser, I kept reading the code and eventually found that `set_keys/1` accepts any of the key_codes defined at here and the following li

[2020-04-20 17:37] NeoArcanjo commented on #241
try start_session(driver: "chrome_driver")

[2020-04-21 11:46] gregjohnsonsaltaire opened #248 "1.1.0 3be56f4 mismatch between github and hex"
1.1.0 3be56f4   mismatch between github and hex

[code]

[2020-06-15 23:52] ibarrae opened #249 "Should all retries load from :retries configuration value?"
Hi folks, first let me thank and congratulate you for this library, it has been great and really helpful :tada:.

My following doubt is the following:

Shouldn't all default "retries" arguments load from this [retries](https://github.com/HashNuke/hound/blob/ee8e261c40afc208c523de2dd6e421d42c375396/lib/hound/request_utils.ex#L96) function?

I have seen that functions like [search_element](https://g

[2020-06-24 09:15] michallepicki commented on #244
Last year I was working on adding W3C WebDriver support to Wallaby, and while the work is not merged upstream yet (and I don't work with Wallaby much anymore so it's more likely to be implemented by someone else), I think it could be useful to anyone working on this.
- [Wallaby issue](https://github.com/elixir-wallaby/wallaby/issues/455)
- [Wallaby W3C WebDriver client module](https://github.com/r

[2020-08-07 01:56] anduonghien opened #250 "chromedriver can't start automatically"
We have to start the `chromedriver` manually in order to run the UI test, we have a look on Wallaby and seem their start the `chromedriver` automatically, should we add that to Hound.

[2020-08-09 18:34] danhper commented on #250
If you want to send a PR adding an option in the config to automatically start chromedriver, I will be happy to merge it.
Thanks!

[2020-08-09 19:16] danhper commented on #249
Hi!
This would indeed be a much better behaviour. I do not have much time right now but if you want to send a PR to fix this it would be very welcome. Thanks!

[2020-10-02 17:33] Bastes commented on #248
Thank you, there was a problem with the mix version using selenium that the github repo does not have.

It could be great to have the mix version fixed, as is you can fall in a rabbit hole trying to understand why the tests don't work with selenium.

[2020-10-06 21:32] danhper commented on #248
Hi, and sorry about that. Is it working with the latest hex verson or with the github version?

[2020-10-06 23:44] gregjohnsonsaltaire commented on #248
Hi, github version is good, hex version is not ...

[2020-10-07 00:10] danhper commented on #248
Thanks for confirming and sorry for the delay.
I just pushed a new version (1.1.1) to hex.
I think this can be closed but please comment if there's still an issue, I'll re-open.

[2020-10-07 00:10] #248 closed

[2020-10-07 04:37] gregjohnsonsaltaire commented on #248
All good now, many thanks ...

[2020-10-29 15:25] linomp commented on #239
Confirmed, same here.   Windows 10.

[2020-12-01 14:32] pmontrasio opened #252 "Improvement: the retry argument of find_element"
Context: `find_element` calls `search_element`, which calls`make_req`, which calls `send_req` which either immediately succeeds or calls `make_retry` every 250 ms (hardcoded value) for at most `retry` retries, where `retry` is the optional argument of `find_element`. It defaults to `5`. It works but it could be improved.

Problem: the `7` in `find_element(:css, "#foo", 7)` is not immediately relat

[2021-01-22 15:25] woojiahao commented on #250
Hi, is this issue still open to contributions? Thanks!

[2021-03-24 18:49] Yamilquery opened #255 "fill_field(email, "xomakon539@menece.com")) transforms `@` into `_`"
I'm using `chrome_driver` with `hound 1.1.1` but when I try to use `fill_field/2` with an email, the at-sign is filled into the field as `_`, which is wrong.

I hope someone can help me.

[2021-11-14 23:04] philippneugebauer commented on #218
If you installed chromedriver via `brew`, you need to execute `/usr/local/bin/chromedriver` or the output of `which chromedriver`

[2022-02-13 01:16] #154 closed